@import "styles/utils/variables";
@import "styles/utils/typography";

.#{$block-prefix}-showcase-card {
  width: 45rem;
  position: relative;
  margin-top: 2.5rem !important;
  display: flex;
  margin: auto;
  align-items: center;

  &__image {
    height: 22rem;
    border-radius: 100%;
    overflow: hidden;
    width: 22rem;
    z-index: 2;
    position: relative;
    --webkit-mask: var(--img-irregular-mask) no-repeat center;
    mask: var(--img-irregular-mask) no-repeat center;
    --webkit-mask-size: contain;
    mask-size: contain;

    .showcase-card-caption {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%);
      color: white;
      font-size: 1.3rem;
      min-width: 10rem;
      font-family: $font-header;
    }

    &:hover {
      img {
        transition: all ease-in-out 0.2s;
        transform: scale(1.1);
      }
    }

    img {
      object-fit: cover;
      object-position: center;
      height: 100%;
      width: 100%;
      filter: brightness(50%);
      transition: all ease-in-out 0.3s;
    }
  }

  &__contents {
    color: $white;
    background-color: $bradenton-teal;
    min-height: 36rem;
    width: 100%;
    padding-top: 4rem;
    padding-bottom: 1.5rem;
    padding-left: 16rem;
    padding-right: 3rem;
    margin-left: -14rem;
    mask-size: contain !important;
    -webkit-mask-size: contain !important;

    hr {
      margin-left: -7rem;
      z-index: 2;
      position: relative;
    }
  }

  .contents-quote-img {
    display: block;
    margin: auto;
    margin-bottom: 0.3rem;
  }

  .contents-body {
    min-height: 7rem;
    line-height: 1.3em;
    margin-top: 0;
    color: $white !important;
  }

  .contents-title {
    font-size: 5rem;
    margin-bottom: 0;
    font-family: $font-title;
  }

  .contents-button {
    color: $dk-blue;
    border: 1.5px solid $rust;
    background-color: white;
    border-radius: 31px;
    padding: 0.3rem 0.85rem;
    transition: all 0.2s ease-in-out;
    text-transform: uppercase;
    font-weight: 700;

    &:hover {
      background-color: $rust;
      color: $white;
      text-decoration: none;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
    }
  }
}

/*********************
MEDIUM AND LARGE SCREENS
*********************/
@media only screen and (min-width: 769px) {
  .#{$block-prefix}-showcase-card {
  }
}

/*********************
SMALL SCREENS
*********************/
@media only screen and (max-width: 768px) {
  .#{$block-prefix}-showcase-card {
  }
}
