@import 'styles/utils/variables';

.#{$block-prefix}-showcase-card {

  width: 14rem;
  position: relative;
  margin-top: 2.5rem !important;

  &__image {

    height: 5.5rem;
    border-radius: 100%;
    overflow: hidden;
    width: 5.5rem;
    position: absolute;
    top: -2.5rem;
    left: 50%;
    transform: translateX(-50%);

    img {

      object-fit: cover;
      object-position: center;
      height: 100%;
      width: 100%;
    }
  }
  
  &__contents {

    color: #233746;
    background-color: white;
    padding: 16px 26px 0 26px;
    min-height: 17rem;
    width: 100%;
    border: 3px solid #99DEEA;
    padding-top: 4rem;
    padding-bottom: 1.5rem;
  }

  .contents-quote-img {

    display: block;
    margin: auto;
    margin-bottom: 0.3rem;
  }

  .contents-body {

    min-height: 10rem;
    text-align: center;
    line-height: 1.3em;
    margin-top: 0;
  }

  .contents-title {

    font-size: 0.9rem;
    margin-bottom: 0;
    font-weight: bold;
  }

  .contents-subtitle {

    font-size: 0.9rem;
    font-style: italic;
    margin: 1px auto;
  }
}

/*********************
MEDIUM AND LARGE SCREENS
*********************/
@media only screen and (min-width: 769px) {
  .#{$block-prefix}-showcase-card {
  }
}

/*********************
SMALL SCREENS
*********************/
@media only screen and (max-width: 768px) {
  .#{$block-prefix}-showcase-card {

  }
}
