/******************************************************************
Stylesheet: MemberPress Account Stylesheet
******************************************************************/
@import "utils/mixins";
@import "utils/variables";

/*********************
GLOBAL STYLES
*********************/
.mepr-account-form {

    max-width: 50rem;
    margin: auto;
    text-align: center;

    &__separator {

        background-color: $bradenton-teal;
    }

    .mepr-account-form__featured-image {

        margin: auto;
        text-align: center;
    }
    .mp_wrapper img, .mepr-account-form__featured-image img {

        border-radius: 100% !important;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        max-width: 130px !important;
        height: auto;    
    }

    input, textarea {

        width: 100%;
        margin-bottom:1rem;
    }

    &__col-2, &__col-3 {

        display: inline-block; 
        padding-right: 1rem;
        margin-bottom:1rem;
    }

    &__col-2 {

        width: 45%;
    }

    &__col-3 {

        width: 30%;
    }

    .mepr-button {

        width: 10rem;
    }
}
/*********************
CUSTOM STYLE OVERRIDES
*********************/

/*****************************
CUSTOM PARTNER PORTAL STYLES
*****************************/