/******************************************************************
Stylesheet: MemberPress Account Stylesheet
******************************************************************/
@import "utils/mixins";
@import "utils/variables";

/*********************
GLOBAL STYLES
*********************/
.mepr-account-form {

    max-width: 50rem;
    margin: auto;
    text-align: center;

    &__separator {

        background-color: $bradenton-teal;
    }

    .mepr-account-form__featured-image {

        margin: auto;
        text-align: center;
    }
    .mp_wrapper img, .mepr-account-form__featured-image img {

        border-radius: 100% !important;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        max-width: 130px !important;
        height: auto;    
    }

    input, textarea {

        width: 100%;
        margin-bottom:1rem;
    }

    &__col-2, &__col-3 {

        display: inline-block; 
        padding-right: 1rem;
        margin-bottom:1rem;
    }

    &__col-2 {

        width: 45%;
    }

    &__col-3 {

        width: 30%;
    }

    .mepr-button {

        width: 10rem;
    }
}

/* CSS for event cards */
.mepr-event-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.event-card-status--red {

    color: $rust;
}

.event-card-status--green {

    color: limegreen;
}

.mepr-event-cards__card {
    background-color: #e4e2e27e;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    flex: 1 0 300px; /* Adjust the width as needed */
    max-width: 20rem;
    border-radius: 20px;
    border-top-left-radius: 0;
}

.mepr-event-cards__card h3 {
    margin-top: 0;
}

.mepr-event-cards__card .event-content {
    margin-bottom: 10px;
}

.mepr-account-container a:visited {
    color: white;
}

/*********************
CUSTOM STYLE OVERRIDES
*********************/

/*****************************
CUSTOM PARTNER PORTAL STYLES
*****************************/