/******************************************************************
Stylesheet: MemberPress Account Stylesheet
******************************************************************/
@import "utils/mixins";
@import "utils/variables";

/*********************
GLOBAL STYLES
*********************/
.mepr-account-form {

    max-width: 50rem;

    input, textarea {

        width: 100%;
        margin-bottom:1rem;
    }

    &__col-2 {

        display: inline-block; 
        width: 45%;
        margin-bottom:1rem;
    }

    .mepr-button {

        width: 10rem;
    }
}
/*********************
CUSTOM STYLE OVERRIDES
*********************/

/*****************************
CUSTOM PARTNER PORTAL STYLES
*****************************/