/******************************************************************
Stylesheet: Admin Stylesheet
******************************************************************/
@import "utils/mixins";
@import "utils/variables";

/*********************
GLOBAL STYLES
*********************/
.editor-post-title {
    padding: 0 1rem;
}
.is-root-container {
    & > p,
    & > h1,
    & > h2,
    & > h3,
    & > h4,
    & > h5,
    & >  h6,
    & > ul,
    & > li {
        @include main-column;
        margin-left: auto;
        margin-right: auto;
    }
}

/*********************
FONTS
*********************/
@font-face {
    font-family: "Lifehack";
    src: url("fonts/Lifehack-Regular.otf") format("otf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Lifehack";
    src: url("fonts/Lifehack-Regular.otf") format("otf");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "Melburch";
    src: url("fonts/Melburch-Slanted.otf") format("otf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Melburch";
    src: url("fonts/MelburchRegular.otf") format("otf");
    font-weight: normal;
    font-style: italic;
}

/*********************
CUSTOM STYLE OVERRIDES
*********************/
.custom-style-wrapper {
    &.justify-inner-center {
        .wp-block-columns {
            justify-content: center;
        }
    }
    &.justify-inner-left {
        .wp-block-columns {
            justify-content: flex-start;
        }
    }
    &.justify-inner-right {
        .wp-block-columns {
            justify-content: flex-end;
        }
    }
    &.justify-inner-space-betwee {
        .wp-block-columns {
            justify-content: space-between;
        }
    }
}
