/* Import all fonts & font-faces here. Do not add variables to this file - add those in _variables.scss! */
//@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
