$bradenton-teal: #2b7b7c;
$yellow-tan: #f4eee1;
$rust: #c96a39;

.#{$block-prefix}-bradenton-map {
  width: 80%;
  margin: 0 auto;
  .county_content_overlay {
    display: none;
  }
  .countyList {
    margin: 1em auto;
    display: flex;
    justify-content: center;
    list-style: none;
    flex-wrap: wrap;
    padding: 0;
    li {
      display: block;
      padding: 0 10px;
      text-transform: uppercase;
      color: $bradenton-teal;
      font-weight: 700;
      cursor: pointer;
      transition: color 0.3s;
      &:not(:last-child) {
        border-right: 1px solid $bradenton-teal;
      }
      &:hover {
        color: $bradenton-teal;
      }
    }
  }
}
