@import "styles/utils/variables";
@import "styles/utils/typography";

$swiperNavigationSize: 30px;
$nav-dist: 4%;

/*********************
Wide Slideshow
*********************/

.#{$block-prefix}-content-selector {
  padding-left: 6vw;
  padding-right: 6vw;

  #content-dropdown-wrapper {
    display: table;
    margin-left: auto;
    margin-right: 18vw;
    margin-bottom: 0.5rem;
    position: relative;

    &:after {
      background-image: var(--img-arrow-teal);
      background-repeat: no-repeat;
      background-size: 80% auto;
      content: "";
      height: 1.5rem;
      margin-top: 18px;
      opacity: 1;
      transition: all 0.25s ease-in-out;
      width: 1.5rem;
      display: flex;
      position: absolute;
      right: 5px;
      top: calc(50% - 24px);
    }

    #content-dropdown {
      display: flex;
      padding: 1.2rem 1.5rem;
      padding-right: 40px;
      background-color: #eeeeee;
      position: relative;
      color: $bradenton-teal;
      font-size: 1.1rem;
      font-weight: bold;
      border-radius: 8px;
      border-color: transparent;
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
    }
  }
}

/*********************
SMALL SCREENS
*********************/
@media only screen and (max-width: $screen-sm) {
  .#{$block-prefix}-content-selector #content-dropdown-wrapper {
    margin-right: auto;
  }

  .#{$block-prefix}-wideslideshow {
    .swiper-wideslideshow {
      height: 550px;
    }

    .hc-wrapper {
      position: relative;
      height: 8rem;

      .bc-infoblock {
        bottom: 2rem;
        left: 50%;
        transform: translateX(-50%);
        overflow: hidden;

        &__navigation {
          .swiper-button-next {
            right: calc($nav-dist - 10px);
          }
          .swiper-button-prev {
            right: calc($nav-dist + 30px);
          }
        }

        &__content {
          padding-left: 3vw;
        }

        #infoblock-title {
          font-size: 22px;
        }
      }
    }
  }
}
