body .#{$block-prefix}-responsive-spacer {
	height: var(--responsive-spacer--desktop);
	margin: 0 auto;
	width: 100%;
	@include screen-lg-max {
		height: var(--responsive-spacer--tablet);
	}
	@include screen-sm-max {
		height: var(--responsive-spacer--mobile);
	}
}

.is-layout-flow > .#{$block-prefix}-responsive-spacer + *,
.is-layout-constrained > .#{$block-prefix}-responsive-spacer + * {
	margin-block-start: 0;
}
