@import "styles/utils/variables";
@import "styles/utils/typography";

.#{$block-prefix}-cta-bubble {
  --webkit-mask: url("~images/weatherbug-background.svg") no-repeat center;
  mask: url("~images/weatherbug-background.svg") no-repeat center;
  --webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  background-size: cover;
  width: 500px;
  height: 500px;
  background-color: $rust;
  text-align: center;
  color: white;
  font-family: $font-body;
  font-size: 1rem;
  padding: 3rem 5rem;
  position: absolute;
  z-index: 10;
  left: -5rem;

  opacity: 0;
  transform: translateX(-100%) rotate(-360deg);
  transition: all 0.7s ease-out;

  &.visible {
    opacity: 1;
    transform: translateX(0) rotate(0);
  }

  &.hidden {
    opacity: 0;
    transform: translateX(-100%) rotate(-360deg);
  }

  .close {
    font-family: $font-title;
    font-weight: bold;
    margin-bottom: 2rem;
    text-transform: uppercase;
    font-size: 1.75rem;
    cursor: pointer;
  }

  .contents-ctatext {
    text-transform: uppercase;
    font-family: $font-title;
    font-weight: bold;
    background: none;
    border: none;
    color: white;
    font-size: 2rem;

    a {
      color: white;
      text-decoration: none;
    }

    &::after {
      content: " ";
      background: url("images/UI-white-right-arrow-default.svg") no-repeat;
      transition: all 0.3s ease-in-out;
      position: relative;
      right: -1rem;
      bottom: -0.25rem;
      height: 25px;
      width: 25px;
      background-size: contain !important;
      display: inline-block;
    }
  }
  .contents-title {
    text-shadow: 3px 3px 0px #00000066;
    font-size: 5rem;
    font-family: $font-title;
    line-height: 0.9em;
    margin: 0;
  }
  .contents-description {
    color: white;
  }
}

@keyframes rollIn {
  0% {
    transform: translateX(-100%) rotate(-360deg);
    opacity: 0;
  }
  100% {
    transform: translateX(0) rotate(0);
    opacity: 1;
  }
}

/*********************
MEDIUM AND LARGE SCREENS
*********************/
@media only screen and (min-width: 769px) {
  .#{$block-prefix}-logo-cta {
  }
}

/*********************
SMALL SCREENS
*********************/
@media only screen and (max-width: 768px) {
  .#{$block-prefix}-cta-bubble {
    display: none;
  }
}
