.#{$block-prefix}-svg-element.block-editor-block-list__block {
  background: transparent !important;
  border: unset !important;
  padding: 0 !important;
  .svgElement-wrapper {
    margin: 0 !important;
  }
}
