@use "styles/utils" as *;

/*
Vertical image on top, text on bottom
*/
.#{$block-prefix}-content-card.card-style-default {
	--background-color: #{color("white")};
	--color: #{color("black")};
	background-size: cover;
	display: block;
	overflow: hidden;
	position: relative;
	margin: 1rem;
	max-height: unset !important;
	max-width: 100%;
	@include standard-transition;
	border-radius: 50px;
	box-shadow: 6px 6px 1rem rgba(0, 0, 0, 0.16);

	@include screen-phone-max {
		border-top-left-radius: 25px;
		border-top-right-radius: 25px;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
		margin: 0;
	}

	.featured-media {
		background-color: color("gray");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		display: block;
		flex: 0 0 40%;
		position: relative;
		z-index: 0;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;

			@include screen-phone-max {
				height: 85vw;
				max-height: 30rem;
				margin-bottom: -1rem;
			}
		}
	}

	.card-contents {
		display: flex;
		flex-direction: row;
		align-items: stretch;
		min-height: 27rem;
		pointer-events: auto;
		text-decoration: none !important;

		@include screen-phone-max {
			flex-direction: column;
		}
	}

	.content {
		background-color: var(--background-color);
		color: var(--color);
		display: flex;
		align-items: flex-start;
		flex: 1;
		flex-direction: column;
		justify-content: center;
		gap: 1rem;
		padding: 2.813rem 2.5rem;
		position: relative;
		bottom: 0;
		text-align: left;
		width: 100%;
		z-index: 0;

		@include screen-phone-max {
			padding: 1.25rem 1.25rem 1.5rem;
			gap: 0.3rem;
		}

		.post-title {
			color: color("red");
			font-family: $font-header;
			font-size: var(--wp--preset--font-size--large);
			font-weight: 700;
			line-height: 1.4;
			letter-spacing: 0;
			margin: 0;

			@include screen-phone-max {
				font-size: var(--wp--preset--font-size--medium);
				line-height: 1.8;
			}
		}

		.excerpt {
			font-family: $font-body;
			font-size: var(--wp--preset--font-size--normal);
			line-height: 1.6;
			color: color("green");
			margin-top: 0.5rem;
			margin-bottom: 0.5rem;
			@include screen-phone-max {
				margin-top: 0;
			}
		}

		.read-more {
			font-weight: 400;
			text-transform: uppercase;
			text-align: center;
			border: 2px solid color("green");
			color: color("green");
			padding: 0.35rem 1.5rem 0.55rem;
			font-size: var(--wp--preset--font-size--medium);
			margin-top: auto;
			@include standard-transition;

			@include screen-phone-max {
				width: 100%;
				margin-top: 8px;
			}
		}
	}

	&:focus,
	&:focus-within,
	&:hover {
		@include screen-tablet-min {
			//transform: scale(1.025);
			.content .read-more {
				color: #fff;
				background: color("green");
			}
		}
	}
}
