@use "styles/utils" as *;

/*
Full overlay - text overlay on image
*/
.#{$block-prefix}-content-card.card-style-overlay {
	background-size: cover;
	display: block;
	max-width: 100%;
	overflow: hidden;
	position: relative;
	@include standard-transition;

	height: auto;
	max-height: unset !important;

	.featured-media {
		background-color: color("gray");
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center top;
		background-position-y: -50px;
		border-radius: 0.75rem;
		display: block;
		height: 100%;

		img {
			display: block;
			line-height: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			@include standard-transition;
		}
	}

	a {
		display: block;
		height: 100%;
		pointer-events: auto;
	}

	a:link,
	a:visited,
	a:hover {
		color: white;
		text-decoration: none;
	}

	.content {
		background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 49%);
		cursor: pointer;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: flex-start;
		gap: 1rem;
		padding: var(--wp--preset--spacing--40);
		position: absolute;
		top: initial;
		bottom: 0;
		width: 100%;
		height: 100%;
		@include standard-transition;

		// @include screen-sm-max {
		// 	padding: 1rem;
		// 	width: 100%;
		// 	bottom: 0;
		// 	top: auto;
		// }

		.post-title {
			color: color("white");
			font-family: $font-header;
			font-size: 1.25rem;
			letter-spacing: 0;
			line-height: 1.6;
			margin: 0 !important;
			padding: 0;
			text-align: left;
			@include screen-phone-max {
				font-size: 1.125rem;
			}
		}

		.excerpt {
			color: color("white");
			display: none;
			font-size: 1rem;
			letter-spacing: 0;
			line-height: 1.2em;
			margin: 0 !important;
			text-align: center;
		}

		.read-more {
			color: color("white");
			display: none;
			font-size: 0.9rem;
		}
	}

	.swiper-slide-active &,
	&:focus,
	&:focus-within,
	&:hover {
		.featured-media {
			img {
				transform: scale(1.05);
			}
		}
	}
}
