@import '_variables';
.eventasticMain {
    margin-top: $headerHeight;
    min-height: calc(100vh - #{$headerHeight});

    .eventDescription {
        margin: 1em auto;
        max-width: 60rem;
        padding: 2em;
    }
}
.eventasticEventWrapper {
    display: block;
    position: relative;
    width:100%;
    max-width: 60rem;
    margin: 0 auto;
    padding: 0 2em;
    box-sizing: border-box;

    .eventTitle {
        color: $rust;
        text-transform: uppercase;
        font-family: $font-header;
        font-weight: normal;
    }

    .eventInfo {

        .images {
            position: relative;
            width: 800px;
            max-width: 100%;

            &:before {
                content:"";
                display: block;
                width:100%;
                padding-bottom: 56.25%;
            }
            .image {
                width:100%;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                opacity: 0;
                transition: .3s ease;

                img {
                    display: block;
                    width:100%;
                    height: 100%;
                    object-fit: contain;
                }

                &.active {
                    opacity: 1;
                }
            }

            .arrowNext, .arrowPrev {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                cursor: pointer;
                transition: .2s ease;
                display: flex;
                justify-content: center;
                align-items: center;
                background: $rust;
                width:50px;
                height: 50px;

                i {
                    font-size: 2em;
                    color: white;
                }

                &:hover {
                    background: $bradenton-teal;
                }
            }
            .arrowNext {
                right: 6px;
            }
            .arrowPrev {
                left: 6px;
            }
        }
        .details {
            display: flex;
            padding: 1em;

            .column {
                flex: 1;
            }

            .detail {
                display: flex;
                align-items: baseline;

                a {
                    color: $rust;
                }
            }

            span.fas {
                margin-right: 10px;
                color: $bradenton-teal;
            }

            .website {
                color: $bradenton-teal;
                display: inline-block;
                padding: 5px 10px;
                border: 2px solid $bradenton-teal;
                text-transform: uppercase;
                transition: all 0.3s;
                &:hover {
                    color: #fff;
                    background: $bradenton-teal;
                }
            }

            .social {
                display: flex;

                a {
                    border-radius: 50%;
                    width:35px;
                    height: 35px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-decoration: none;
                    margin-right: 12px;
                    transition: all 0.3s;

                    span {
                        font-size: 22px;
                        color: $bradenton-teal;
                    }
                }
                &:hover {
                    a {
                        opacity: 0.5;
                        &:hover {
                            opacity: 1;
                        }
                    }
                }
            }
        }

        @media only screen and (max-width:768px) {
            flex-wrap: wrap;
            .images {
                width:100%;
            }
            .details {
                display: block;
            }
        }
    }

}

.eventDateDetails {
    background: $light-gray;
    padding: 2em;

    .eventDateWrapper {
        display: flex;
        max-width: 60rem;
        width: 100%;
        margin: 0 auto;
    }

    h2 {
        color: $rust;
        font-family: $font-title;
        font-size: 2em;
    }

    .dateInfo {
        flex: 0 0 50%;
    }

    span.fas {
        color: $bradenton-teal;
    }
    
    .ticketLink {
        color: $bradenton-teal;
        display: inline-block;
        padding: 5px 10px;
        border: 2px solid $bradenton-teal;
        text-transform: uppercase;
        transition: all 0.3s;

        &:hover {
            background: $bradenton-teal;
            color: #fff;
        }
    }

    @media only screen and (max-width:768px) {
        .eventDateWrapper {
            display: block;
        }
    }

}

#eventMap {
    height: 250px;
    width: 100%;
    flex: 0 0 50%;
    position: relative;
    border-radius: 4px;
    border: 1px solid $bradenton-teal;
}

