.#{$block-prefix}-accordion {
  margin: 0 auto;

  .section-title {

    width: calc(100% - 2rem);
    margin: 0 auto;
    max-width: 60rem;
    border-bottom: 0.5px solid #CCCCCC;
    border-left: 0.5px solid #CCCCCC;
    border-right: 0.5px solid #CCCCCC;
    background-color: $bradenton-teal;

    h2 {

      color: white;
      text-align: center;
      text-transform: uppercase;
      font-family: $font-header;
      font-weight: 400;
      padding: 1rem 0.5rem 0 0.5rem;
      line-height: 1.15em;    
    }
    p {

      padding: 0 1rem 1.5rem 1rem;
      font-weight: 600;
      color: white;
      text-align: center;
      max-width: 50rem;
      margin: auto;  
    }
  }

  .#{$block-prefix}-accordion-section:first-child {

    border-top: 0.5px solid #CCCCCC;
  }
}

/*********************
MEDIUM AND LARGE SCREENS
*********************/
@media only screen and (min-width: 769px) {
  .#{$block-prefix}-accordion {
  }
}

/*********************
  SMALL SCREENS
  *********************/
@media only screen and (max-width: 768px) {
  .#{$block-prefix}-accordion {

    .section-title {

      h2 {

        font-size: 1.1rem;
      }
    }
  }
}
