@import 'styles/utils/variables';
@import 'styles/utils/typography';

.#{$block-prefix}-upcomingevents {
  position: relative;
  box-sizing: border-box;
  padding-bottom: 100px;

  .title {
    position: relative;
    z-index: 5;
    background: $bradenton-teal;
    width: 100%;
    text-align: center;
    padding: 1em 10px;
    box-sizing: border-box;
    --webkit-mask: url("images/large-image-mask.svg") no-repeat center;
    mask: url("images/large-image-mask.svg") no-repeat center;
    --webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    margin-bottom: -10px;

    h2 {
      position: relative;
      z-index: 1;
      color: #fff;
      font-size: 4em;
      font-family: $font-header;
      font-weight: 400;
      text-transform: uppercase;
      margin: 0;
    }
  }

  .eventsWrapper {
    position: absolute;
    z-index: 5;
    right: 20px;
    top: 600px;
    width: 600px;
    max-width: 80%;
    margin: 1em 0;
    padding: 0.5em 1em;
    box-sizing: border-box;
    background: $bradenton-teal;
    &:before {
      content: "";
      display: block;
      position: absolute;
      bottom: 100%;
      left: 0;
      width: 100%;
      height: 25px;
      background: url('~/images/section-top-turquoise.png') center top repeat-x;
    }
    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 25px;
      background: url('~/images/section-top-turquoise.png') center top repeat-x;
      transform: scaleY(-1);
    }
  }

  .eventPost {
    position: relative;
    padding: 0.5em 1em;
    margin: 0.5em 0;
    display: flex;
    color: #fff;
    text-decoration: none;
    transition: all 0.3s;

    .date {
      flex: 0 0 120px;
      position: relative;
      text-align: right;
      margin-right: 20px;
      margin-top: 5px;
    }

    .text {
      flex-grow: 1;
    }

    h3 {
      margin: 0;
      font-size: 2em;
      font-family: $font-title;
    }

    .location {
      margin: 0;
      color: #fff;
      font-weight: 400;
    }

    &:hover {
      text-decoration: none;
      color: $turquoise;
    }

  } // .eventPost

}


/*********************
MEDIUM SCREENS
*********************/
@media only screen and (max-width: 1200px) {
  .#{$block-prefix}-upcomingevents {
    padding-bottom: 150px;

    .title {
      h2 {
        font-size: 3em;
      }
    }

    .eventsWrapper {
      padding: 0;
      top: 740px;
      width: 500px;
    }
  }
}

/*********************
SMALL SCREENS
*********************/
@media only screen and (max-width: 768px) {
  .#{$block-prefix}-upcomingevents {
    padding-bottom: 0;

    .title {
      h2 {
        font-size: 2em;
      }
    }

    .eventsWrapper {
      position: relative;
      top: auto;
      right: auto;
      width: 100%;
      max-width: inherit;
    }
  }
}
