@use "../utils" as *;

body {
	.hs-form-html {
		padding: 0;
		margin: 0;
		.hsfc-Step__Content {
			padding: 0 !important;
		}
		.hsfc-Row {
			margin-bottom: 10px;
		}
		.hsfc-FieldLabel {
			font-size: 1rem;
			font-weight: 400;
			color: color("green");
			margin-bottom: 1px !important;
		}
		.hsfc-DropdownOptions {
			font-size: 0.9rem !important;
		}
		.hsfc-TextInput {
			height: 32px;
			font-size: 1rem;
			padding: 5px 10px !important;
			border: 1px solid #d7e0e7 !important;
		}
		.hsfc-PhoneInput__FlagAndCaret {
			height: 32px;
			padding: 5px 10px !important;
		}
		.hsfc-FileField {
			font-size: 0.9rem;
			input[type="file"]::file-selector-button {
				font-size: 1rem;
				color: color("green");
				padding: 7px 40px;
				border: none;
				border-radius: 4px;
				background: #d6e0e7;
				cursor: pointer;
				margin-right: 10px;
				@include standard-transition();
			}
			input[type="file"]::file-selector-button:hover {
				color: #fff;
				background-color: color("green");
			}
		}
		.hsfc-CheckboxField {
			margin: 5px 0;
			label {
				font-size: 0.85rem;
				line-height: 1.5;
			}
			input[type="checkbox"] {
				border-radius: 4px;
				border-width: 2px;
			}
		}
		.hsfc-NavigationRow {
			margin-top: 25px !important;
			&__Buttons {
				justify-content: center !important;
				button[type="submit"] {
					font-size: 22px;
					font-weight: 200;
					letter-spacing: 2px;
					text-transform: uppercase;
					background-color: color("red") !important;
					padding: 20px 40px;
					border-radius: 4px;
				}
			}
		}
		.hsfc-ErrorAlert {
			font-size: 0.9rem !important;
			line-height: 1.5 !important;
		}
	}
}
