@use "../utils" as *;

.position-relative {
	position: relative;
}
.absolute-bottom-left {
	position: absolute !important;
	left: 0;
	bottom: 0;
}

.absolute-above-left {
	position: absolute !important;
	left: 0;
	bottom: calc(100% - 1px);
}
.width-100 {
	width: 100%;
	max-width: none;
}
.min-height-100 {
	min-height: 100%;
}

.is-position-sticky {
	z-index: 0 !important;
}
@supports (-webkit-touch-callout: none) {
	.is-position-sticky {
		position: relative !important;
	}
}

.wp-block-group,
.wp-block-image {
	&.is-style-pinned-right {
		img {
			border-top-left-radius: 20px;
			border-bottom-left-radius: 20px;
		}
	}
	&.is-style-pinned-left {
		img {
			border-top-right-radius: 20px;
			border-bottom-right-radius: 20px;
		}
	}
}
.wp-block-group {
	&.is-style-pinned-left,
	&.is-style-pinned-right {
		height: 100%;
		.wp-block-cover {
			min-height: 400px;
			.wp-block-cover__inner-container {
				position: initial;
			}
			.wp-block-image {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				img {
					width: 100%;
					height: 100%;
					object-fit: contain;
				}
			}
		}
	}
}
.wp-block-group {
	&.is-style-pinned-left {
		.wp-block-cover {
			border-top-right-radius: 20px;
			border-bottom-right-radius: 20px;
			overflow: hidden;
		}
	}
}
.wp-block-group {
	&.is-style-pinned-right {
		.wp-block-cover {
			border-top-left-radius: 20px;
			border-bottom-left-radius: 20px;
			overflow: hidden;
		}
	}
}

.wp-block-image {
	&.is-style-pinned-left,
	&.is-style-pinned-right {
		height: 400px;
		min-height: unset;
		img {
			width: 100%;
			height: 400px;
		}
	}
}
@include screen-phone-max {
	.wp-block-group,
	.wp-block-image {
		&.is-style-pinned-left,
		&.is-style-pinned-right {
			height: 300px;
			.wp-block-cover {
				height: 300px;
				min-height: unset !important;
				border-radius: 20px;
			}
			img {
				height: 300px;
				border-radius: 20px;
			}
		}
	}
}

.new-quick-links {
	.wraparound-link,
	.wp-block-group {
		height: 100%;
	}
	.new-quick-link,
	p {
		font-size: 23px !important;
		@include standard-transition;
	}
	.wp-block-madden-theme-svg-element {
		svg {
			.fill-color {
				@include standard-transition;
			}
		}
	}
	.wraparound-link:hover {
		.new-quick-link {
			background-color: #609c9d;
			border-color: #609c9d;
			border-radius: 10px;
		}
		p {
			color: #ffffff !important;
		}
		.wp-block-madden-theme-svg-element {
			svg {
				.fill-color {
					fill: #ffffff !important;
				}
			}
		}
	}
}
@include screen-tablet-max {
	.new-quick-links {
		flex-direction: column;
		.wraparound-link {
			height: 120px;
		}
		.wp-block-group.is-layout-flex {
			justify-content: center !important;
		}
	}
}
