@import "styles/utils/mixins";
@import "styles/utils/variables";

.#{$block-prefix}-accordion-section {
  padding: 0.5rem 1rem;
  width: 80%;
  margin: 0 auto;

  .accordion__header {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
    transition-duration: 0.5s;
    .fusion-toggle-icon-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 2em;
      height: 1em;
      padding: 4.5px;
      background-image: url("data:image/svg+xml,%3Csvg id='Component_5_1' data-name='Component%205%20%E2%80%93%201' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='30.125' height='18.141' viewBox='0 0 30.125 18.141'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect id='Rectangle_814' data-name='Rectangle%20814' width='18.141' height='30.126' fill='%23508c91'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='Group_4627' data-name='Group%204627' transform='translate(0%2018.141)%20rotate(-90)'%3E%3Cg id='Group_4620' data-name='Group%204620' clip-path='url(%23clip-path)'%3E%3Cpath id='Path_1983' data-name='Path%201983' d='M11.2%2014.954c-.915-.871-1.842-1.718-2.728-2.6C6.814%2010.688%205.176%209%203.53%207.328q-1.471-1.5-2.937-3A1.566%201.566%200%200%201%200%203.169a1.239%201.239%200%200%201%20.361-.875Q1.31%201.334%202.269.386A1.245%201.245%200%200%201%204.09.405q3.121%203.137%206.24%206.275%203.254%203.27%206.511%206.537.493.5.973%201a1.238%201.238%200%200%201%20.07%201.592%203.46%203.46%200%200%201-.266.3Q13.75%2020%209.879%2023.883%207.01%2026.77%204.15%2029.666a1.278%201.278%200%200%201-1.959%200C1.613%2029.092%201.049%2028.5.453%2027.94a1.37%201.37%200%200%201%20.006-2.019c1.49-1.468%202.947-2.971%204.412-4.464q2.8-2.853%205.591-5.714c.22-.225.431-.459.741-.79' transform='translate(0%200)' fill='%23508c91'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: center center;
      transform: rotate(180deg);
      color: white;
    }
    &.open, &:hover {
      .fusion-toggle-icon-wrapper {
        transform: rotate(0);
      }
    }
    h3 {
      margin: 0;
      padding: 10px 0;
      font-weight: 700;
      color: $sky-blue;
      cursor: pointer;
      text-transform: inherit;
      @include standard-transition;
      a {
        color: inherit;
      }
    }
    &:hover {
      &::before {
        transform: rotate(90deg);
      }
      h3 {
        color: $sky-blue !important;
      }
    }
  }
  .accordion__body {
    overflow: hidden;
    height: 0;
    &.open {
      height: auto;
    }
  }
}
