@import 'styles/utils/variables';
@import 'styles/utils/typography';

.#{$block-prefix}-lightbox-card {

  width: fit-content;
  height: fit-content;

  &.primary {
    .#{$block-prefix}-lightbox-card__card {

      width: 11rem;
      border-radius: 16px;
      background-color: $bradenton-teal;
      padding: 1rem;
      text-align: center;
      pointer-events: visible;
      transition: 0.3s ease-in-out all;
      outline: 0px solid white;

      &:hover {

        outline: 12px white solid;
        transition: 0.2s ease-in-out all;
      }

      .contents-title, .contents-description {

        color: white;
        font-family: $font-body;
      }

      img {

        width: 100px;
        height: 100px;
        object-fit: contain;
      }
    }
  }

  &.secondary {

    .#{$block-prefix}-lightbox-card__card {

      box-shadow: 0px 3px 6px #00000029;
      border: 12px solid #FFFFFF;
      position: relative;
      aspect-ratio: 264/274;

      img {

        height: 100%;
        width: 100%;
        object-fit: cover;   
      }
      
      .card-content {

        position: absolute;
        bottom: 5px;
        width: 100%;
        text-align: center;
        color: white;
        background: transparent linear-gradient(180deg, #00000000 0%, #00000080 100%) 0% 0% no-repeat padding-box;

        .contents-description {
          display: none;
        }
      }
    }
  }
}

/*********************
MEDIUM AND LARGE SCREENS
*********************/
@media only screen and (min-width: 769px) {
  .#{$block-prefix}-logo-cta {

  }
}

/*********************
SMALL SCREENS
*********************/
@media only screen and (max-width: 469px) {
  .#{$block-prefix}-logo-cta {

    margin: 0 6vw;
  
    &__image {

    }
  
    &__contents {
  
      .contents-title {
  
      }
    }
  
    .wp-block-social-links {

      .wp-social-link {

        svg {


        }
      }
    }
  }
}
