@import 'styles/utils/variables';
@import 'styles/utils/typography';

.#{$block-prefix}-lightbox-card {

  width: fit-content;
  height: fit-content;

  &.is-style-primary {
    .#{$block-prefix}-lightbox-card__card {

      width: 11rem;
      border-radius: 16px;
      background-color: $bradenton-teal;
      padding: 1rem;
      text-align: center;
      pointer-events: visible;
      transition: 0.3s ease-in-out all;
      outline: 0px solid white;
      cursor: pointer;
      min-height: 16rem;

      &:hover {

        box-shadow: inset 0 0 0 8px white;
        transition: 0.2s ease-in-out all;

        img {

          animation: rock 0.5s ease-in-out;
        }
      }

      .contents-title, .contents-description {

        color: white;
        font-family: $font-body;
      }

      .contents-title {

        font-size: 1.15rem;
        margin: 0.5rem;
      }

      .contents-description {

        font-size: 1rem;
        line-height: 1.5em;  
        margin: 0;  
      }

      img {

        width: 100px;
        height: 100px;
        object-fit: contain;
      }
    }
  }

  &.is-style-lightbox-polaroid {

    .#{$block-prefix}-lightbox-card__card {

      box-shadow: 0px 3px 6px #00000029;
      border: 12px solid #FFFFFF;
      position: relative;
      aspect-ratio: 264/274;
      transition: all 0.3s ease-in-out;
      cursor: pointer;

      img {

        height: 100%;
        width: 100%;
        object-fit: cover;   
      }
      
      .card-content {

        position: absolute;
        bottom: 5px;
        width: 100%;
        height: 100%;
        text-align: center;
        align-content: flex-end;
        text-align: center;
        color: white;
        background: transparent linear-gradient(180deg, #00000000 0%, #00000080 100%) 0% 0% no-repeat padding-box;

        .contents-description {
          display: none;
        }
        .contents-title {

          font-size: 1rem;
        }
      }

      &:hover {

        transition: all 0.2s ease-in-out;
        border-color: $turquoise;
      }
    }
  }
  
}

.wp-block-mm-bradentongulfislands-lightbox-card__lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #00000099;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999999;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;

  &--show {
    opacity: 1;
    visibility: visible;
  }

  .lightbox-card-overlay__content {
    background: $yellow-tan;
    padding: 2rem;
    border-radius: 38px;
    width: 90%;
    max-width: 65rem;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);

    img {

      max-height: 20rem;
    }

    h2 {
      font-size: 2.5rem;
      color: $bradenton-teal;
      font-family: $font-header;
    }
  }

  .lightbox-card-overlay__close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
    background: transparent;
    border: none;
    &:hover {
      color: $rust;
    }
  }
}

@keyframes rock {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(-5deg); }
  50% { transform: rotate(5deg); }
  75% { transform: rotate(-3deg); }
  100% { transform: rotate(0deg); }
}

/*********************
MEDIUM AND LARGE SCREENS
*********************/
@media only screen and (min-width: 769px) {
  .#{$block-prefix}-logo-cta {

  }
}

/*********************
SMALL SCREENS
*********************/
@media only screen and (max-width: 768px) {
  .#{$block-prefix}-lightbox-card {

  
    &.is-style-primary {
      width: 90%;
      .#{$block-prefix}-lightbox-card__card {
  
        display: flex;
        width: 100%;
        min-height: unset;
        gap: 0.8rem;
  
        .contents-title, .contents-description {
          
          text-align: left;
        }
  
        .contents-title {
  
          font-size: 1.15rem;
          margin: 0.5rem;
        }
  
        .contents-description {
  
          font-size: 1rem;
          line-height: 1.5em;  
          margin: 0;  
        }
  
        img {
  
          width: 80px;
          height: 80px;
          object-fit: contain;
        }
      }
    }
  
  }
}
