/**
 * Block-specific styles to show within the Gutenberg editor
 */

@import "styles/utils/mixins";
@import "styles/utils/typography";
@import "styles/utils/variables";

/*********************
TEXT
*********************/

// buttons
.wp-block-button__link {
    display: inline-block;
    padding: 0.5em 1.5em;
    border-radius: 0;
    box-shadow: none;
    font-weight: bold;
    font-size: 1rem;
    text-decoration: none;
}

.has-title-font-family {

    line-height: 1.2em;
}

//Separator
.is-style-curved-line {

    border-color: transparent !important;
    text-align: center;

    &::after {

        content: ' ';
        background-image: url('images/curved-line.png');
        background-repeat: no-repeat;
        background-size: contain;
        display: inline-block;
        max-width: 20rem;
        width: 80%;    
        height: 1rem;
    }
}

/*********************
COLUMNS
*********************/
.wp-block-columns {

    margin-right: 5vw;
    margin-left: 5vw;
}

//groups
.is-style-collage-square {

    --webkit-mask: url("images/collage-square.svg") no-repeat center;
    mask: url("images/collage-square.svg") no-repeat center;
    --webkit-mask-size: cover;
    mask-size: cover;
}

/*********************
LAYOUT
*********************/
.is-root-container > .custom-style-wrapper > .wp-block-columns {
    margin: $block-margin 0;
    & > .wp-block-column:only-child {
        width: $main-column-width;
        max-width: $main-column-max-width;
    }
}

/*********************
TEMPLATES
*********************/
.wp-block-post-featured-image {
    &.aligncenter {
        margin-left: auto;
        margin-right: auto;
    }
}

/*********************
WIDGETS
*********************/
// pre, for notes
.wp-block-preformatted {
    margin: 0;
    padding: 4rem;
    border: 2px solid red;
}

.is-style-bubble {

    --webkit-mask: url("images/bubble-mask.svg") no-repeat center;
    mask: url("images/bubble-mask.svg") no-repeat center;
    --webkit-mask-size: contain;
    mask-size: contain;
}

/*********************
BUTTONS
*********************/

.is-style-arrow-button {

    position: relative;

    .wp-block-button__link, .wp-element-button {

        background-color: transparent !important;
        border: none !important;
        color: $bradenton-teal !important;
        font-family: $font-header !important;
        text-transform: uppercase;
        font-size: 1.15rem;
        margin-bottom: 1.5rem;
        padding: 0 !important;
    }

    &::after {

        content: " ";
        position: absolute;
        width: 50px;
        height: 50px;
        right: -18%;
        top: 2%;
        background: url("images/curve-arrow-small.png");
        background-repeat: no-repeat;
        background-size: contain;
    }
}

.is-style-round-button {

    .wp-block-button__link, .wp-element-button {

        border-radius: 200px;
        text-transform: uppercase;
        font-size: 0.8rem;
        font-weight: 600;
        transition: all 0.3s ease-in-out;
        color: #2B7B7C;
        background-color: #B0D9E6;
        padding-left: 0.7rem;
        padding-right: 0.7rem;

        &:hover {

            text-decoration: none;
            transition: all 0.2s ease-in-out;
            transform: scale(1.05);
        }
    }
}

/*********************
IMAGES
*********************/
.wp-block-cover {

    overflow: unset;
}

.is-style-cta-card {

    bottom: 1rem;
    margin: auto;
    margin-bottom: 7rem !important;
    max-width: 35rem;
    overflow: unset;

    .wp-block-cover__inner-container {

        background-color: white;
        width: 85%;
        position: absolute;
        bottom: -7rem;
        padding: 1rem 4rem;

        &::before {

            content: " ";
            width: 100%;
            height: 2rem;
            background: url('images/tile-text-top-white.png');
            background-size: contain;
            position: absolute;
            left: 0;
            top: -0.5rem;
            z-index: -1;
        }
    }
}

.is-style-collage-cover {

    .wp-block-cover__background, .wp-block-cover__image-background {
        
        --webkit-mask: url("images/large-image-mask.svg") no-repeat center;
        mask: url("images/large-image-mask.svg") no-repeat center;
        --webkit-mask-size: cover;
        mask-size: cover;
    }
}

// Gallery
.wp-block-gallery {
    &.has-nested-images {
        &.is-style-masonry {

            &.columns-3 {
                grid-template-rows: repeat(2, 15vw) ;  
                
                figure {
                    &:nth-child(4) {
                        grid-column: 7/10;
                        grid-row: 2 / 3;
                    }
                   
                }
            }

            &.is-style-masonry-alternate {
                grid-template-rows: repeat(5, 15vw) ;    

                figure {

                    &:nth-child(1) {
                        grid-column: 1 / 7;
                        grid-row: 1 / 2;
                    }
    
    
                    &:nth-child(2) {
                        grid-column: 7/10;
                        grid-row: 1 / 3;
                    }

                    &:nth-child(4) {
                        grid-column: 1/4;
                        grid-row: 2 / 4;
                    }
                   
                    &:nth-child(5) {
                        grid-column: 4/7;
                        grid-row: 3/5;
                    }

                    &:nth-child(6) {
                        grid-column: 7/10;
                        grid-row: 3/5;
                    }
                    
                    &:nth-child(7) {
                        grid-column: 1/4;
                        grid-row: 4/5;
                    }

                    &:nth-child(9) {
                        grid-column: 7/10;
                        grid-row: 5/5;
                    }
                }
            }

            &.is-style-masonry-alternate-2 {
                grid-template-rows: repeat(6, 15vw);
                figure {
                    &:nth-child(8) {
                        grid-column: 1/4;
                        grid-row: 5/7;
                    }
                    &:nth-child(9) {
                        grid-column: 4/10;
                        grid-row: 5/6;
                    }
                    &:nth-child(10) {
                        grid-column: 4/10;
                        grid-row: 6/6;
                    }
                }
            }

            display: grid;
            grid-template-columns: repeat(6, 1fr);
            grid-template-rows: repeat(6, 1fr);
            gap: 10px;
            padding: 15px;
            height: 1000px;


            img {
                max-width: 100%;
                display: block;
            }

            figure {

                &:nth-child(1) {
                    grid-area: 3 / 3 / 5 / 5;
                }


                &:nth-child(2) {
                    grid-area: 3 / 5 / 5 / 7;
                }

                &:nth-child(3) {
                    grid-area: 1 / 3 / 3 / 7;
                }

                &:nth-child(4) {
                    grid-area: 1 / 1 / 5 / 3;
                }


                &:nth-child(5) {
                    grid-area: 5 / 1 / 7 / 5;
                }

                &:nth-child(6) {
                    grid-area: 5 / 5 / 7 / 7;
                }


                &.wp-block-image {

                    width: auto !important;

                    &:not(.disable-animation) {

                        transition:  border-radius .8s;
                        transition-timing-function: ease-out;
                        overflow: hidden;
                        -webkit-mask-image: -webkit-radial-gradient(white, black); //Safari fix 
                        &:hover:not(.disable-animation) {
                            border-radius: 50px;
                            transition:  border-radius .8s;
                            transition-timing-function: ease-out;
                            cursor: pointer;

                            img {
                                transition: transform .8s;
                                transition-timing-function: ease-out;
                                transform: scale(1.1);
                                transition: transform .8s;
                                cursor: pointer;
                            }
                        }

                        img {
                            transition: transform .8s;
                            transition-timing-function: ease-out;

                            &:hover:not(.disable-animation) {
                                transform: scale(1.1);
                                transition: transform .8s;
                                transition-timing-function: ease-out;
                                cursor: pointer;
                            }
                        }
                    }

                    figcaption {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background: transparent !important;
                        bottom: initial !important;
                        font-family: $font-header;
                        font-size: calc(60px - 100%);
                        text-shadow: 0px 0px 10px #00000080;
                        margin-top: initial !important;
                        height: 100%;
                        max-height: 100% !important;

                        a {
                            height: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            text-decoration: none !important;

                            &:hover {
                                text-decoration: none;
                            }
                        }
                    }

                }

            }

        }

    }

}

@media only screen and (min-width: ($screen-sm + 1)) and (max-width: $screen-md) {

    .wp-block-gallery {
		&.has-nested-images {
			&.is-style-masonry {

                



				figure {
					&.wp-block-image {
						figcaption {
							font-size: calc(30px - 10%);
						}
					}

				}
			}
		}
	}
    
}

@media only screen and (max-width: $screen-sm) {

    .wp-block-gallery {
        &.has-nested-images {
            &.is-style-masonry {

                &.columns-3 {
                    grid-template-rows: repeat(4, 15vw) ;  
                    
                    figure {
                        &:nth-child(4) {
                            grid-column: 1/10;
                            grid-row: 5 / 5;
                        }
                       
                    }
                }

                &.is-style-masonry-block-mobile {
                    display: flex;
                    gap: 20px;

                    &.wp-block-image {
          
                        figcaption {
                        
                            font-size: 7vw;
                        }
    
                    }
                 }     

                &.is-style-masonry-alternate {
                    grid-template-rows: repeat(10, 15vw) ;    
    
                    figure {
    
                        &:nth-child(1) {
                            grid-column: 1 / 10;
                            grid-row: 1 / 3;
                        }
        
        
                        &:nth-child(2) {
                            grid-column: 5/10;
                            grid-row: 3 / 6;
                        }

                        &:nth-child(3) {
                            grid-column: 1/5;
                            grid-row: 5/5;
                        }
                        
                        &:nth-child(4) {
                            grid-column: 1/5;
                            grid-row: 3/5;
                        }
                       
                        &:nth-child(5) {
                            grid-column: 1/10;
                            grid-row: 6/8;
                        }
    
                        &:nth-child(6) {
                            grid-column: 1/7;
                            grid-row: 8/9;
                        }
                        
                        &:nth-child(7) {
                            grid-column: 7/10;
                            grid-row: 8/8;
                        }

                        &:nth-child(8) {
                            grid-column: 1/10;
                            grid-row: 9/11;
                        }
    
                        &:nth-child(9) {
                          display: none;
                        }
                    }
                }

                /*grid-template-columns: repeat(10, 1fr);*/
                grid-template-rows: repeat(15, 15vw);
                gap: 10px;

                &.is-style-masonry-alternate-2 {
                    grid-template-columns: repeat(9, 1fr);

                    &.columns-3 {
                        grid-template-rows: repeat(7, 15vw) ;  
                        
              
                    }

                    figure {
                        &:nth-child(1) {
                            grid-column: 5/10;
                            grid-row: 3/5;
                        }
                        &:nth-child(2) {
                            grid-column: 1/10;
                            grid-row: 1/3;
                        }
                        &:nth-child(3) {
                            grid-column: 5/10;
                            grid-row: 5/5;
                        }
                        &:nth-child(4) {
                            grid-column: 1/5;
                            grid-row: 3/6;
                        }
                        &:nth-child(5) {
                            grid-column: 1/10;
                            grid-row: 6/8;
                        }
                        &:nth-child(6) {
                            grid-column: 1/7;
                            grid-row: 8/8;
                        }
                        &:nth-child(7) {
                            grid-column: 7/10;
                            grid-row: 8/8;
                        }
                        &:nth-child(8) {
                            grid-column: 1/10;
                            grid-row: 9/9;
                        }
                        &:nth-child(9) {
                           display: none;
                        }
                        &:nth-child(10) {
                            grid-column: 1/10;
                            grid-row: 10/10;
                        }
                    }
                }
    
                figure {
    
                    &:nth-child(1) {
                        grid-column: 1 / 6;
                        grid-row: 1 / 3;
                    }
    
    
                    &:nth-child(2) {
                        grid-column: 6 / 10;
                        grid-row: 1 / 5;
                    }
    
                    &:nth-child(3) {
                        grid-column: 1 / 6;
                        grid-row: 3 / 5;
                    }
    
                    &:nth-child(4) {
                        grid-column: 7 / 10;
                        grid-row: 8 / 10;
                    }
    
    
                    &:nth-child(5) {
                        grid-column: 1 / 10;
                        grid-row: 5 / 5;
    
                    }
    
                    &:nth-child(6) {
                        grid-column: 1 / 6;
                        grid-row: 7 / 7;
                    }
    
                    &:nth-child(7) {
                        grid-column: 6 / 10;
                        grid-row: 7 / 7;
                    }
    
    
                    &:nth-child(8) {
                        grid-column: 1/6;
                        grid-row: 10/10;
    
                        img {
                            object-position: 25% 75%;
                        }
                    }
    
                    &:nth-child(9) {
                        grid-column: 6/10;
                        grid-row: 10/10;
                    }
    
    
                    &:nth-child(10) {
                        grid-column: 6/10;
                        grid-row: 11/11;
                    }
    
                    &:nth-child(11) {
                        grid-column: 1/6;
                        grid-row: 11/11;
                    }
    
    
                    &:nth-child(12) {
                        grid-column: 1/10;
                        grid-row: 12/12;
                    }
    
                    &.wp-block-image {
                        width: auto !important;
                        border-radius: 0 1rem 1rem 1rem;
                        -webkit-mask-image: -webkit-radial-gradient(white, black); //Safari fix 

                        img {
                            border-radius: 0 1rem 1rem 1rem;
                        }
    
                        figcaption {
                        
                            font-size: 4.5vw
                        }
    
                    }
    
    
                }
            }
        }
    }
	
}

