/**
 * Block-specific styles to show within the Gutenberg editor
 */

@import "styles/utils/mixins";
@import "styles/utils/typography";
@import "styles/utils/variables";

/*********************
TEXT
*********************/

// buttons
.wp-block-button__link {
    display: inline-block;
    padding: 0.5em 1.5em;
    border-radius: 0;
    box-shadow: none;
    font-weight: bold;
    font-size: 1rem;
    text-decoration: none;
}

.has-title-font-family {

    line-height: 1.2em;
}

/*********************
COLUMNS
*********************/
.wp-block-columns {

    margin-right: 5vw;
    margin-left: 5vw;
}

/*********************
LAYOUT
*********************/
.is-root-container > .custom-style-wrapper > .wp-block-columns {
    margin: $block-margin 0;
    & > .wp-block-column:only-child {
        width: $main-column-width;
        max-width: $main-column-max-width;
    }
}

/*********************
TEMPLATES
*********************/
.wp-block-post-featured-image {
    &.aligncenter {
        margin-left: auto;
        margin-right: auto;
    }
}

/*********************
WIDGETS
*********************/
// pre, for notes
.wp-block-preformatted {
    margin: 0;
    padding: 4rem;
    border: 2px solid red;
}

.is-style-bubble {

    --webkit-mask: url("images/bubble-mask.svg") no-repeat center;
    mask: url("images/bubble-mask.svg") no-repeat center;
    --webkit-mask-size: contain;
    mask-size: contain;
}

/*********************
BUTTONS
*********************/

.is-style-arrow-button {

    position: relative;

    .wp-block-button__link {

        background-color: transparent;
        border: none;
        color: $bradenton-teal;
        font-family: $font-header;
        text-transform: uppercase;
        font-size: 1.15rem;
    }

    &::after {

        content: " ";
        position: absolute;
        width: 50px;
        height: 50px;
        right: -6%;
        bottom: -50%;
        background: url("images/curve-arrow-small.png");
        background-repeat: no-repeat;
        background-size: contain;
        transition: all 0.3s ease-in-out;
    }
}