/**
 * Block-specific styles to show within the Gutenberg editor
 */

@import "styles/utils/mixins";
@import "styles/utils/typography";
@import "styles/utils/variables";

/*********************
TEXT
*********************/

// buttons
.wp-block-button__link {
    display: inline-block;
    padding: 0.5em 1.5em;
    border-radius: 0;
    box-shadow: none;
    font-weight: bold;
    font-size: 1rem;
    text-decoration: none;
}

/*********************
LAYOUT
*********************/
.is-root-container > .custom-style-wrapper > .wp-block-columns {
    margin: $block-margin 0;
    & > .wp-block-column:only-child {
        width: $main-column-width;
        max-width: $main-column-max-width;
    }
}

/*********************
TEMPLATES
*********************/
.wp-block-post-featured-image {
    &.aligncenter {
        margin-left: auto;
        margin-right: auto;
    }
}

/*********************
WIDGETS
*********************/
// pre, for notes
.wp-block-preformatted {
    margin: 0;
    padding: 4rem;
    border: 2px solid red;
}
