/**
 * Block-specific styles to show to front-end users
 */

@import "styles/utils/mixins";
@import "styles/utils/typography";
@import "styles/utils/variables";

/*********************
TEXT
*********************/

// buttons
.wp-block-button__link {
    display: inline-block;
    padding: 0.5em 1.5em;
    border-radius: 0;
    box-shadow: none;
    font-weight: bold;
    font-size: 1rem;
    text-decoration: none;
}

.has-title-font-family {

    line-height: 1.2em;
}

//Separator
.is-style-curved-line {

    border-color: transparent !important;

    &::after {

        content: ' ';
        background-image: url('images/curved-line.png');
        background-repeat: no-repeat;
        background-size: contain;
        display: inline-block;
        max-width: 20rem;
        width: 80%;    
        height: 1rem;
    }
}

/*********************
COLUMNS
*********************/
.wp-block-columns {

    padding-right: 6vw;
    padding-left: 6vw;
    max-width: 90rem;
    margin-left: auto;
    margin-right: auto;
}

.is-layout-flex {

    @media only screen and (min-width: 782px) {
        flex-direction: inherit !important;
    }
}

/*********************
TEMPLATES
*********************/
// featured images
.wp-block-post-featured-image {
    &.aligncenter {
        margin-left: auto;
        margin-right: auto;
    }
}
// pre, for notes
.wp-block-preformatted {
    margin: 0;
    padding: 4rem;
    border: 2px solid red;
}

/*********************
IMAGES
*********************/
.wp-block-cover {

    overflow: unset;
}

.is-style-bubble {

    --webkit-mask: url("images/bubble-mask.svg") no-repeat center;
    mask: url("images/bubble-mask.svg") no-repeat center;
    --webkit-mask-size: contain;
    mask-size: contain;

    @media only screen and (max-width: 781) {
        min-height: 70vw !important;
    }
}

.is-style-cta-card {

    bottom: 1rem;
    margin: auto;
    margin-bottom: 7rem !important;
    max-width: 40rem;
    overflow: unset;

    .wp-block-cover__inner-container {

        background-color: white;
        width: 85%;
        position: absolute;
        bottom: -7rem;
        padding: 2rem 3rem 1rem 3rem;

        &::before {

            content: " ";
            width: 100%;
            height: 2rem;
            background: url('images/tile-text-top-white.png');
            background-size: contain;
            position: absolute;
            left: 0;
            top: -0.5rem;
            z-index: -1;
        }
    }
}

/*********************
BUTTONS
*********************/

.is-style-arrow-button {

    position: relative;

    .wp-block-button__link {

        background-color: transparent;
        border: none;
        color: $bradenton-teal;
        font-family: $font-header;
        text-transform: uppercase;
        font-size: 1.15rem;
        padding: 0;
        margin-bottom: 1.5rem;
        transition: all 0.3s ease-in-out;
    }

    &::after {

        content: " ";
        position: absolute;
        width: 50px;
        height: 50px;
        right: -18%;
        top: 2%;
        background: url("images/curve-arrow-small.png");
        background-repeat: no-repeat;
        background-size: contain;
        transition: all 0.3s ease-in-out;
    }

    &:hover {

        .wp-block-button__link {

            text-decoration: none;
            transition: all 0.3s ease-in-out;
            color: $dk-blue;
        }
        &::after {

            transition: all 0.3s ease-in-out;
            transform: rotate(-10deg);
        }
    }
}

.is-style-round-button {

    .wp-block-button__link {

        border-radius: 200px;
        text-transform: uppercase;
        font-size: 0.8rem;
        font-weight: 600;
        transition: all 0.3s ease-in-out;
        color: #2B7B7C;
        background-color: #B0D9E6;
        padding-left: 0.7rem;
        padding-right: 0.7rem;

        &:hover {

            text-decoration: none;
            transition: all 0.2s ease-in-out;
            transform: scale(1.05);
        }
    }
}

/*********************
CUSTOM BLOCKS
*********************/
.is-style-nautical-illustrations {

    &.is-length-3 {
        .grid-items {
   
          .grid-item {
            &--1 {
                .grid-item__background {

                    &::after {

                        background: url('images/oyster.png');
                    }
                }
            }
            &--2 {
   
            }
            &--3 {

            }
    
            &--1,&--2,&--3 {
                .grid-item__background {
                    
                    &::after {

                        content: ' ';
                        position: absolute;
                        width: 50px;
                        height: 50px;
                    }
                }
            }
          }
        }
      }
}

.is-style-secondary-header {

    .title {

        span {

            font-family: $font-title;
            font-weight: 500;
            line-height: 1.5em;
            max-width: 80rem;
        }
    }

    @media only screen and (max-width: 768px) {
    .title {

        span {

            bottom: -18vw;
            left: 50%;
            font-size: 3.5vw;
            width: 100%;
        }
    }
    }

    @media only screen and (min-width: 769px) {
    .title {
		
        top: 45%;
        font-size: 18vw;

		span {

            font-size: 2.5vw;
            bottom: 1.5rem;
            left: 4%;
		}
	}
    }

    @media only screen and (min-width: 1100px) {
        .title {
            
            font-size: 13rem;

            span {

                font-size: 1.5rem;
            }
        }
    }
}