/**
 * Block-specific styles to show to front-end users
 */

@import "styles/utils/mixins";
@import "styles/utils/typography";
@import "styles/utils/variables";

/*********************
TEXT
*********************/

// buttons
.wp-block-button__link {
    display: inline-block;
    padding: 0.5em 1.5em;
    border-radius: 0;
    box-shadow: none;
    font-weight: bold;
    font-size: 1rem;
    text-decoration: none;
}

.has-title-font-family {

    line-height: 1.2em;
}

/*********************
COLUMNS
*********************/
.wp-block-columns {

    margin-right: 5vw;
    margin-left: 5vw;
}

/*********************
TEMPLATES
*********************/
// featured images
.wp-block-post-featured-image {
    &.aligncenter {
        margin-left: auto;
        margin-right: auto;
    }
}
// pre, for notes
.wp-block-preformatted {
    margin: 0;
    padding: 4rem;
    border: 2px solid red;
}

/*********************
IMAGES
*********************/
.is-style-bubble {

    --webkit-mask: url("images/bubble-mask.svg") no-repeat center;
    mask: url("images/bubble-mask.svg") no-repeat center;
    --webkit-mask-size: contain;
    mask-size: contain;
}