/**
 * Block-specific styles to show to front-end users
 */

@import "styles/utils/mixins";
@import "styles/utils/typography";
@import "styles/utils/variables";

/*********************
TEXT
*********************/

// buttons
.wp-block-button__link {
    display: inline-block;
    padding: 0.5em 1.5em;
    border-radius: 0;
    box-shadow: none;
    font-weight: bold;
    font-size: 1rem;
    text-decoration: none;
}

.has-title-font-family {

    line-height: 1.2em;
}

/*********************
COLUMNS
*********************/
.wp-block-columns {

    margin-right: 6vw;
    margin-left: 6vw;
}

/*********************
TEMPLATES
*********************/
// featured images
.wp-block-post-featured-image {
    &.aligncenter {
        margin-left: auto;
        margin-right: auto;
    }
}
// pre, for notes
.wp-block-preformatted {
    margin: 0;
    padding: 4rem;
    border: 2px solid red;
}

/*********************
IMAGES
*********************/
.is-style-bubble {

    --webkit-mask: url("images/bubble-mask.svg") no-repeat center;
    mask: url("images/bubble-mask.svg") no-repeat center;
    --webkit-mask-size: contain;
    mask-size: contain;
}

.is-style-cta-card {

    bottom: 1rem;
    margin-bottom: 3rem;
    max-width: 35rem;
    overflow: unset;

    .wp-block-cover__inner-container {

        background-color: white;
        width: 85%;
        position: absolute;
        bottom: -7rem;
        padding: 1rem 4rem;

        &::before {

            content: " ";
            width: 100%;
            height: 2rem;
            background: url('images/tile-text-top-white.png');
            background-size: contain;
            position: absolute;
            left: 0;
            top: -0.5rem;
            z-index: -1;
        }
    }
}

/*********************
BUTTONS
*********************/

.is-style-arrow-button {

    position: relative;

    .wp-block-button__link {

        background-color: transparent;
        border: none;
        color: $bradenton-teal;
        font-family: $font-header;
        text-transform: uppercase;
        font-size: 1.15rem;
        padding: 0;
        transition: all 0.3s ease-in-out;
    }

    &::after {

        content: " ";
        position: absolute;
        width: 50px;
        height: 50px;
        right: -18%;
        top: 2%;
        background: url("images/curve-arrow-small.png");
        background-repeat: no-repeat;
        background-size: contain;
        transition: all 0.3s ease-in-out;
    }

    &:hover {

        .wp-block-button__link {

            text-decoration: none;
            transition: all 0.3s ease-in-out;
            color: $dk-blue;
        }
        &::after {

            transition: all 0.3s ease-in-out;
            transform: rotate(-10deg);
        }
    }
}