

.#{$block-prefix}-events {
  min-height: 200px;
  max-height: 350px;
  height: 100%;
  overflow: hidden;

  &:before {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
  }

  h2 {
    position: relative;
    // color: $green;
    text-transform: uppercase;
    padding: 10px 1em 10px 2em;
    // width: 70%;
    // border-top: 2px solid $green;
    &:after {
      content: "";
      display: block;
      position: absolute;
      left: calc(100% + 20px);
      top: -50%;
      width: 80px;
      height: 80px;
      // background: url(~/images/tx-em-stamp.png) no-repeat;
      background-size: cover;
      transform: rotate(5deg);
    }
  }

  .events_btn {
    display: block;
    width: 250px;
    text-align: center;
    text-transform: uppercase;
    // color: $green;
    font-family: $font-header;
    padding: 10px 0.5em;
    // border: 2px solid $green;
    margin: 2em auto;
  }

  .filtersContainer {
    display: none;
  }

  .eventsWrapper {
    display: flex;
    overflow: scroll;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
  }

  .eventPost {
    position: relative;
    flex: 0 0 calc(20% - 1em);
    margin: 0.5em;
    text-decoration: none;

    .date {
      // background: $orange;
      padding: 10px 15px;
      width: 100%;
      box-sizing: border-box;
      color: #fff;
      text-align: center;
      font-size: 0.8em;
      .month {
        font-weight: 300;
        font-family: $font-header;
        text-transform: uppercase;
      }
    }

    .image {
      display: none;
    }

    h3 {
      font-family: $font-body;
      font-size: 1.0em;
      // color: $green;
      margin: 5px 0;
    }

  }
}

