

.#{$block-prefix}-events {
  margin: 0 auto;

  .eventsWrapper {
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    max-width: 90%;
    margin: 2em auto;
    justify-content: center;
  }

  h2 {
    position: relative;
    // color: $green;
    text-transform: uppercase;
    padding: 10px 1em 10px 2em;
    width: calc(55% - 110px);
    // border-top: 2px solid $green;
    min-width: 450px;
    &:after {
      content: "";
      display: block;
      position: absolute;
      left: calc(100% + 20px);
      top: -50%;
      width: 80px;
      height: 80px;
      background-size: cover;
      transform: rotate(5deg);
    }
  }

  .events_btn {
    display: block;
    width: 250px;
    text-align: center;
    text-transform: uppercase;
    // color: $green;
    font-family: $font-header;
    padding: 10px 0.5em;
    // border: 2px solid $green;
    transition: 0.4s ease-out;
    margin: 2em auto;

    &:hover {
      color: #fff;
      // background-color: $dkgreen;
      text-decoration: none;
    }
  }

  .eventPost {
    position: relative;
    flex: 0 0 33%;
    padding: 0.5em 1em;
    // border-right: 1px solid rgba(#000,0.15);
    margin: 1.0em 0;
    min-width: 320px;

    // &:nth-child(3n) {
    //   border-right: 0;
    // }

    .date {
      position: absolute;
      left: 40px;
      top: -5px;
      // background: $orange;
      z-index: 10;
      padding: 10px 15px;
      color: #fff;
      transition: 0.3s ease;
      text-align: center;
      .month {
        font-size: 0.8em;
        font-weight: 300;
        // font-family: $font-header;
        text-transform: uppercase;
        display: block;
        border-bottom: 1px solid #fff;
      }
      .day {
        display: block;
        font-size: 2.5em;
      }

      &:after {
        // background: linear-gradient(-45deg, $orange 7px, transparent 0), linear-gradient(45deg, $orange 7px, transparent 0);
        background-position: center bottom;
        background-repeat: repeat-x;
        background-size: 15px 15px;
        content: " ";
        display: block;
        position: absolute;
        bottom: -10px;
        left: 0px;
        width: 100%;
        height: 10px;
        transform: scaleY(-1);
      }
    }

    .image {
      position: relative;
      z-index: 2;
      width: 100%;
      aspect-ratio: 1.1;
      border-radius: 12px;
      overflow: hidden;
      box-sizing: border-box;
      transition: 0.3s ease-out;
      box-shadow: 0 0px 2px 0 rgba(#000,0.5);
      img {
        position: relative;
        z-index: 1;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: 0.4s ease-out;
        // filter: grayscale(100%);
      }
      &:before {
        content: "";
        display: block;
        position: absolute;
        z-index: 5;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 12px solid rgba(#fff,0.5);
      }
    }

    h3 {
      font-family: $font-body;
      // color: $green;
    }

    &:hover {
      text-decoration: none;

      .date {
        top: -10px;
      }

      .image {
        transform: translateY(-7px);
        box-shadow: 0 4px 4px 0 rgba(#000,0.3);
        img {
          filter: grayscale(0%);
          transform: scale(1.1);
        }
      }
    }

  } // .eventPost

  .filtersContainer {
    margin-bottom: 2em;
    color: #fff;
    // background-color: $orange;

    .searchFilter {
      padding: 20px 2em;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .category_date_filter {
      display: flex;
      padding: 1em 2em;
      background-color: #9B4420;
    }
  }
}


/*********************
SMALL SCREENS
*********************/
@media only screen and (max-width: 768px) {
  .#{$block-prefix}-events {

    h2 {
      min-width: inherit;
      width: 70%;
      padding-left: 1em;
    }

    .eventPost {
      min-width: 50%;
      margin: 0.5em 0;
    }

  }
}
