.card-style-content-overlay,
.card-style-content-overlay .featured-media,
.card-style-content-overlay .featured-media > img{
    width: 100%;
    height: 100%;
}

.card-style-content-overlay{
    display: flex;
    position: relative;
    padding: 0 56px;

    .featured-media{
        aspect-ratio: 1.7;
        img{
            object-fit: cover;
            border-radius: 16px;
        }
    }

    .content{
        position: absolute;
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 24px;
        box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.16);
        backdrop-filter: blur(16px) saturate(1.2);
        -webkit-backdrop-filter: blur(16px) saturate(1.2);
        max-width: 550px;
        bottom: 36px;
        left: 20px;
        padding: 36px;

        .post-title{
            font-family: var(--wp--preset--font-family--header);
            font-size: 32px;
            line-height: 32px;
            margin: 0;
            color: var(--wp--preset--color--bradenton-teal);
        }

        .overlay-hr{
            height: 1px;
            background: var(--wp--preset--color--rust);
            border: unset;
            margin: 1rem 0;
        }

        .excerpt{
            height: 124px;
            overflow: scroll;
            font-size: 18px;
        }
    }
}

.swiper-slide-next, .swiper-slide-prev{
    .card-style-content-overlay .content{
        display: none;
    }
}