

/*
Full overlay - text overlay on image
*/
.#{$block-prefix}-content-card.card-style-overlay {
	aspect-ratio: 7/8;
	background-size: cover;
	display: block;
	max-width: 100%;
	position: relative;
	@include standard-transition;

	height: auto;
	max-height: unset !important;
	margin: 1rem; /* match the box shadow size to avoid overflow issues */

	.overlay-link {
		color: #fff;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		text-decoration: none;
		z-index: 1;
	}

	.featured-media {
		background-color: color("black");
		display: block;
		height: 100%;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	.content {
		background: linear-gradient(#0000, #000);
		cursor: pointer;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: center;
		gap: 1rem;
		padding: 1rem 2rem 2rem;
		position: absolute;
		top: initial;
		bottom: 0;
		width: 100%;
		height: 100%;
		@include standard-transition;

		@include screen-sm-max {
			padding: 1rem;
			width: 100%;
			bottom: 0;
			top: auto;
		}

		.post-meta {
			color: #fff;
			font-size: var(--wp--preset--font-size--small);
			line-height: 1em;
			position: relative;
			z-index: 2;
			text-align: center;
			text-transform: uppercase;
			a {
				border-bottom: 2px solid #ffffff70;
				color: inherit;
				display: inline-block;
				font-size: inherit;
				text-decoration: none;
				&:hover {
					border-color: #fff;
				}
			}
		}

		.post-title {
			color: #fff;
			font-family: $font-body;
			font-size: 1.5rem;
			letter-spacing: 0;
			line-height: 1.2em;
			margin: 0 !important;
			padding: 0;
			text-align: center;
			@include screen-lg-max {
				font-size: 1.25rem;
			}
		}

		.excerpt {
			color: #fff;
			font-size: 1rem;
			letter-spacing: 0;
			line-height: 1.2em;
			margin: 0 !important;
			text-align: center;
		}

		.read-more {
			color: #fff;
			display: none;
			font-size: var(--wp--preset--font-size--small);
		}
	}

	&:focus,
	&:focus-within,
	&:hover {
		transform: scale(1.025);
		.content {
			.read-more {
				display: block;
			}
		}
	}
}
