

/*
Signature card 
*/
.#{$block-prefix}-content-card.card-style-signature-card {
  border-radius: 6px;
  border: solid 2px $bradenton-teal;
  background-color: white;
  min-height: 15.1rem;
  width: 36.625rem;
  margin: auto;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);

  @include screen-sm-max {
    width: 90vw;
    margin-left: -1rem;
  }

  .content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .post-title {
    font-size: 1.5rem;
    font-family: $font-body;
    color: $bradenton-teal;
    padding: 0.90625rem 1.5rem 0.5rem;
    margin: 0;
  }

  .post-date {
    font-size: 1.1rem;
    color: white;
    font-family: $font-header;
    background-color: #4dbbbb;
    border-radius: 4px 0 0 0;
    width: 21rem;
    padding: 1.0625rem 0.90625rem 1.125rem 1.59375rem;
  }

  .excerpt {
    padding: 0 1.5rem;
  }

  .featured-media {
    display: none;
  }

  .read-more {
    text-transform: uppercase;
    font-family: $font-header;
    color: $bradenton-teal;
    position: relative;
    transition: all 0.3s ease-in-out;
    min-width: 7rem;
    max-width: 15rem;
    font-size: 1.125rem;
    display: inline-block;
    padding: 0 1.5rem;
    text-align: end;
    margin-bottom: 1.5rem;
    text-decoration: none;
    margin-top: auto;

    &::after {
      content: " ";
      transition: all 0.3s ease-in-out;
      position: absolute;
      right: -2rem;
      bottom: -60%;
      height: 38px;
      width: 38px;
      background-size: contain !important;
      background: var(--img-blue-arrow);
    }
    &:hover {
      text-decoration: none;

      &::after {
        transition: all 0.2s ease-in-out;
        transform: translateX(8%);
      }
    }
  }
}
