@mixin standard-transition($duration: 0.2s) {
  transition: all $duration ease-in-out;
}

$gray: #aaa;
$black: #000;

.repeater {
  margin: 1rem 0;
  padding: 1rem;
  border: 1px solid $gray;
  h3 {
    margin: 0 0 1rem 0;
    font-size: 1rem;
  }
  .add-repeater-segment {
    background-color: $black;
    .dashicons {
      color: white;
    }
  }
  .placeholder-text {
    color: $gray;
    margin: 0 0 1rem 0;
    font-size: 1rem;
    line-height: 1;
  }
  .repeater-segments {
    .repeater-segment {
      position: relative;
      padding: 1rem;
      margin-bottom: 1rem;
      border: 1px solid $gray;
      .reorder-segments,
      .delete-repeater-segment {
        position: absolute;
        top: 0;
        opacity: 0;
      }
      .reorder-segments {
        display: flex;
        flex-direction: column;
        right: 100%;
        margin-right: 3px;
        .reorder-button {
          margin: 0;
          opacity: 1;
          background-color: white;
          &:disabled,
          &[disabled] {
            opacity: 0.5;
          }
        }
      }
      .delete-repeater-segment {
        left: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2rem;
        height: 2rem;
        background-color: white;
        @include standard-transition;
        svg {
          height: 1rem;
          width: 1rem;
          margin-bottom: 7px;
        }
      }
      &:hover,
      &:focus {
        .reorder-segments,
        .delete-repeater-segment {
          opacity: 1;
        }
      }
    }
  }
}
// .repeater-segment {
//   display: flex;
//   align-items: center;
//   .components-button.has-icon {
//     width: 25px;
//     min-width: 25px;
//     height: 25px;
//     padding: 2px;
//     svg {
//       display: block;
//     }
//     &.delete-repeater-segment {
//       svg {
//         width: 12px;
//       }
//     }
//   }
//   .segment-content {
//     flex: 1;
//     padding: 0 5px;
//   }
// }
