@import 'styles/utils/variables';
@import 'styles/utils/typography';

$swiperNavigationSize: 30px;
$nav-dist: 4%;

/*********************
Wide Slideshow
*********************/

  .#{$block-prefix}-wideslideshow { 

    position: relative;

    .swiper-wideslideshow {
    width: 100%;
    height: 600px;
    z-index: 0;
    position: relative;

    &::after {
      content: ' ';
      background: url('images/slideshow-bottom.png') repeat-x center;
      position: absolute;
      width: 100%;
      height: 3.5rem;
      bottom: -1rem;
      z-index: 1;
    }

    .bc-wrapper {

      &__items {

        text-align: center;
        font-size: 18px;
        background: $turquoise;
        overflow: hidden;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;

        img, iframe {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }

        .#{$block-prefix}-wideslideshow__logo {

          position: absolute;
          top: -2rem;
          left: -2rem;
          z-index: 2;
          height: auto;
          width: 270px;
          object-fit: cover;  
        }

        iframe {

          pointer-events: none;
        }
      }
    }


    .hidden {
      
      visibility: hidden;
    }
  }

  .swiper-thumbnail-preview-slider--thumbnails {

    top: -5rem;
    display: none;
    margin-left: calc(100% - 45vw);
    padding-right: 2rem;

    .swiper-wrapper {

      row-gap: 1rem;
      margin-left: auto;
      width: fit-content;
      margin-right: 6vw;  

      .swiper-slide-thumb-active {

        img{
        border: 4px solid $rust;
        }
      }

      .swiper-slide {

        width: 140px !important;
        height: 90px !important;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &:hover {

          filter: brightness(0.6);
          transition: all 0.2s ease-in-out;
        }

        img {
          
          height: inherit;
          width: inherit;
          border-radius: 22px;
          object-fit: cover;
        }
      }
    }
  }

  .swiper-pagination {

    position: unset;
    text-align: left;

    .swiper-pagination-bullet {

      background-color: transparent;
      border: 2px solid $white;
      width: 12px;
      height: 12px;
      opacity: 1;
    }

    .swiper-pagination-bullet-active {

      background-color: $white;
      border-color: $sky-blue;
    }
  }

  .hc-wrapper {
    position: relative;
    height: 0;

    &__items {

      text-align: center;
      font-size: 18px;
      background: $turquoise;

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }

    .bc-infoblock {

      background: rgba(24,93,100, 0.85)  0% 0% no-repeat padding-box;
      height: 300px;
      max-width: 500px;
      width: 88%;
      position: absolute;
      bottom: -2rem;
      left: 7%;
      z-index: 2;
      display: flex;
      align-items: center;
      transition: all 0.1s ease-in-out;

      &--purple {

        background: rgba(74,107,174,.85)  0% 0% no-repeat padding-box;
        transition: all 0.1s ease-in-out;
      }
      

      &__navigation {

        .swiper-button-next, .swiper-button-prev {
     
          width: 35px;
          font-size: $swiperNavigationSize;
          font-weight: 600;
          height: 34px;
          margin-top: calc(0px - (#{$swiperNavigationSize}/ 2));
          top: auto;
          bottom: 12px;
          color: transparent;
          transition: all 0.2s ease-in-out;
  
          &::after {
  
            font-size: $swiperNavigationSize;
          }

          &:hover {

            transform: scale(1.1);
            transition: all 0.2s ease-in-out;
          }
        }
  
        .swiper-button-next {
          
          right: $nav-dist;
          background: url('images/ui-next-off.png');
          background-size: contain;

          &:hover {

            background: url('images/ui-next-on.png');
            background-size: contain;
          }
        
        }
  
        .swiper-button-prev {
          
          right: calc($nav-dist + 45px);
          left: auto;
          background: url('images/ui-prev-off.png');
          background-size: contain;

          &:hover {

            background: url('images/ui-prev-on.png');
            background-size: contain;
          }
        }
  
      }
      &__content {

        padding: 1rem 1.5rem;

        .infoblock__link {

          color: $dk-blue;
          border: 1.5px solid $rust;
          background-color: white;
          border-radius: 31px;
          padding: 0.3rem 0.85rem;
          transition: all 0.2s ease-in-out;
          text-transform: uppercase;
          font-weight: 700;
          

          &:hover {

            background-color: $rust;
            color: $white;
            text-decoration: none;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
          }
        }

        .infoblock__item {

          color: $white;
          font-family: $font-body;
          margin: 12px auto;
          text-align: left;
          font-weight: 500;
          font-size: 13px;
          letter-spacing: 0.08rem;
          opacity: 1;
          transition: all 0.2s ease-out;
          width: 435px;
          overflow-wrap: break-word;
          line-height: 1.7em;

          &--hide {

            opacity: 0;
            transition: all 0.2s ease-out;
          }

          &--hide-notransition {

            opacity: 0;
            transition: all 0s ease-out;
          }

        }
      }
    }

    &--single {

      .bc-infoblock {
           
        &__navigation {

          .swiper-button-next, .swiper-button-prev {
       
            display: none;
          }
        }
      }
    }
  }

  #infoblock-title {

    font-family: $font-title;
    font-weight: 700;
    font-size: 3rem;
    color: $sky-blue;
    overflow-wrap: unset;
    line-height: 0.8em;
  }
  
    &.is-style-hero-slider {
      position: relative;
      z-index: 0;
      height: 100vh;
      max-height: 700px;
      overflow: hidden;

      .swiper-thumbnail-preview-slider--thumbnails, .bc-infoblock__navigation, #infoblock-title, .swiper-wideslideshow::after {
        display: none;
      }

      &:before {
        content: "";
        display: block;
        position: absolute;
        z-index: 1;
        pointer-events: none;
        bottom: 50px;
        left: 0;
        width: 100%;
        height: 40%;
        background: linear-gradient(to bottom, rgba(#000,0), $dk-blue);
      }

      &:after {
        content: " ";
        background: transparent url("images/hero-bottom.png") no-repeat;
        background-size: 100% auto;
        height: 12em;
        left: 0;
        position: absolute;
        pointer-events: none;
        width: 105%;
        z-index: 1;
        bottom: -20px;
        background-size: cover;
      }

      .hc-wrapper {
        position: absolute;
        bottom: 210px;
        left: 0;
        width: 100%;
        height: auto;
        .bc-infoblock {
          background: none;
          height: 30px;
          bottom: auto;
          left: 50%;
          transform: translateX(-50%);
        }
        .bc-infoblock__content {
          padding: 0;
          text-align: center;
          width: 100%;

          .infoblock__item--hide-notransition, #infoblock-buttonurl {
            display: none;
          }
        }
      } 

      .swiper-wideslideshow .bc-wrapper__items {

        // .item-slide-img {
        //   position: fixed;
        //   top: 0;
        //   left: 0;
        // }

        .#{$block-prefix}-wideslideshow__logo {
          top: 25%;
          left: 10%;
        }
      }

      .swiper-pagination {
        position: relative;
        bottom: auto;
        text-align: center;
      }
    }

  }

/*********************
  LARGE SCREENS
*********************/
@media only screen and (min-width: $screen-lg) {
  .#{$block-prefix}-wideslideshow {
  .swiper-thumbnail-preview-slider--thumbnails {

    display: block;
    width: 45vw;
  }
  }
}

/*********************
SMALL SCREENS
*********************/
@media only screen and (max-width: $screen-sm) {
  .#{$block-prefix}-wideslideshow {


  .swiper-wideslideshow {

    height: 550px;

    .bc-wrapper {

      &__items {
  
        .#{$block-prefix}-wideslideshow__logo {
  
          top: -0.9rem;
          left: -0.9rem;
          // height: 110px;
          width: 150px;
        }
      }
    }
  }

  .hc-wrapper {

    position: relative;
    height: 8rem;

    .bc-infoblock {
      
      bottom: 2rem;
      left: 50%;
      transform: translateX(-50%);
      overflow: hidden;

      &__navigation {
  
        .swiper-button-next {
          
          right: calc($nav-dist - 10px);
        }
        .swiper-button-prev {

          right: calc($nav-dist + 30px);
        }
      }

      &__content {

        padding-left: 3vw;

        .infoblock__item { 
          width: 100%;
        }
      }

      #infoblock-title {
        font-size: 2.25rem !important;
      }
    }   
  }

    &.is-style-hero-slider {
      height: 60vh;
      max-height: 450px;

      &:before {
        height: 60%;
      }

      .swiper-wideslideshow {
        height: auto;

        .bc-wrapper__items {

          .#{$block-prefix}-wideslideshow__logo {
            top: 15%;
          }
        } 
      }


      .hc-wrapper {

      }
    }

  }
}
