@use "styles/utils" as *;

body .wp-block-image {
	margin: 0;
	position: relative;
	img {
		display: block;
	}
	@include screen-sm-max {
		&.center-on-mobile {
			float: none !important;
			margin-left: auto !important;
			margin-right: auto !important;
			text-align: center;
		}
	}
	&.responsive-sizes {
		@include screen-lg-max {
			width: var(--tablet-width);
			img {
				height: auto !important;
			}
		}
		@include screen-sm-max {
			width: var(--mobile-width);
		}
	}
	&.is-style-bordered,
	&.is-style-circle-border,
	&.is-style-bubble-border {
		position: relative;
		a {
			display: block;
			position: relative;
		}
		img {
			object-fit: cover;
			width: 100%;
			height: auto;
		}
		.wp-element-caption {
			position: absolute;
			top: 50%;
			width: 100%;
			text-align: center;
			color: #fff;
			font-size: var(--wp--preset--font-size--xlarge);
			font-weight: 600;
			letter-spacing: 2px;
			transform: translatey(-50%);
			margin: 0;
			padding: 0 25px;
			pointer-events: none;
		}
	}
	&.is-style-bordered {
		--border-width: 20px;
		--border-color: rgba(255, 255, 255, 0.5);
		--border-radius: 0;
		--border-top-left-radius: 0;
		--border-top-right-radius: 0;
		--border-bottom-left-radius: 0;
		--border-bottom-right-radius: 0;
		max-width: 100%;
		border: none !important;
		&:after {
			position: absolute;
			top: 0;
			content: "";
			width: 100%;
			height: 100%;
			border-style: solid;
			border-width: var(--border-width);
			border-color: var(--border-color);
			box-sizing: border-box;
			border-top-left-radius: var(--border-top-left-radius);
			border-top-right-radius: var(--border-top-right-radius);
			border-bottom-left-radius: var(--border-bottom-left-radius);
			border-bottom-right-radius: var(--border-bottom-right-radius);
			pointer-events: none;
		}
		a {
			border-radius: var(--border-radius);
		}
		img {
			border-radius: var(--border-radius);
		}
	}
	&.is-style-circle-border {
		max-width: 100%;
		aspect-ratio: 1 / 1;
		&:after {
			position: absolute;
			top: 0;
			content: "";
			width: 100%;
			height: 100%;
			border: 22px solid rgba(255, 255, 255, 0.5);
			box-sizing: border-box;
			border-radius: 50%;
			aspect-ratio: 1 / 1;
			pointer-events: none;
		}
		a {
			border-radius: 50%;
		}
		img {
			aspect-ratio: 1 / 1;
			border-radius: 50%;
		}
	}
	&.is-style-bubble-border {
		max-width: 100%;
		&:after {
			position: absolute;
			top: 0;
			content: "";
			width: 100%;
			height: 100%;
			border: 20px solid rgba(255, 255, 255, 0.5);
			box-sizing: border-box;
			border-radius: 70px;
			border-bottom-right-radius: 0;
			pointer-events: none;
		}
		a {
			border-radius: 70px;
			border-bottom-right-radius: 0;
		}
		img {
			border-radius: 70px;
			border-bottom-right-radius: 0;
		}
	}
	&.has-rotate-element {
		img {
			transform: rotate(var(--rotate-element, 0deg));
			transform-origin: center center; /* optional, often desired */
		}
	}
}
