@use "styles/utils" as *;

body p {
  &:is(:empty) + .#{$block-prefix}-responsive-spacer {
    display: none;
  }
  @include screen-sm-max {
    &.center-on-mobile {
      text-align: center !important;
    }
  }
}
