@use "styles/utils" as *;

body .wp-block-group {
	@include screen-phone-max {
		&.hide-on-mobile {
			display: none;
		}
	}
	&__wraparound-link {
		text-decoration: none;
	}
	&.is-layout-grid {
		@include screen-phone-max {
			&.mobile-columns-1 {
				grid-template-columns: 1fr;
			}
			&.mobile-columns-2 {
				grid-template-columns: repeat(2, minmax(0, 1fr));
			}
		}
	}
	&.responsive-grid-columns {
		@include screen-lg-max {
			grid-template-columns: repeat(var(--tablet-grid-cols), minmax(0, 1fr));
		}
		@include screen-sm-max {
			grid-template-columns: repeat(var(--mobile-grid-cols), minmax(0, 1fr));
		}
	}
}
