<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","className":"main","layout":{"type":"constrained"}} -->
<main id="main" class="wp-block-group main">
    <!-- wp:post-title /-->

	<!-- wp:madden-theme/kraken-events {"style":{"typography":{"textAlign":"left"},"fontSize":"medium"} /-->

	<!-- wp:madden-theme/kraken-events {"eventData":"times"} /-->

	<!-- wp:post-content /-->

	<!-- wp:madden-theme/kraken-events {"eventData":"location"} /-->

	<!-- wp:madden-theme/kraken-events {"eventData":"phone"} /-->

	<!-- wp:madden-theme/kraken-events {"eventData":"email"} /-->

	<!-- wp:madden-theme/kraken-events {"eventData":"website"} /-->

	<!-- wp:madden-theme/kraken-events {"eventData":"ticket_price"} /-->

	<!-- wp:madden-theme/kraken-events {"eventData":"ticket_link"} /-->

	<!-- wp:madden-theme/kraken-events {"eventData":"social"} /-->

	<!-- wp:madden-theme/kraken-events {"eventData":"categories"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->