/*
Theme Name: Bradenton Gulf Islands
Theme URI: https://maddenmedia.com
Author: Madden Media
Author URI: https://maddenmedia.com
Description: Madden's child theme
Version: 2.3.5
Text Domain: mmnino
Template: mm-madre-theme
*/