@import "swiper/css/bundle";
@import "styles/utils/variables";
@import "styles/utils/mixins";

/* Add your color variables here from theme.json for proper styling */
$colorPalette: "black", "gray", "tan", "white", "red";

.#{$block-prefix}-slider {
	margin: 0;
	padding: 0;
	position: relative;
	.swiper-button-prev,
	.swiper-button-next {
		background-color: rgba(255, 255, 255, 0.75);
		border-radius: 3rem;
		width: 3rem;
		height: 3rem;
		@include standard-transition;
		&:after {
			color: #333;
			font-size: 1.5rem;
			font-weight: 700;
		}
		&:hover {
			background-color: #fff;
		}

		@each $color in $colorPalette {
			&[data-color="#{$color}"] {
				&:after {
					color: color("#{$color}");
				}
			}
			&[data-color-background="#{$color}"] {
				background-color: color("#{$color}");
			}
		}
	}
	.swiper-button-prev {
		padding-right: 3px;
	}
	.swiper-button-next {
		padding-left: 3px;
	}
	&.slider-arrows-below {
		.swiper-navigation-wrapper {
			display: flex;
			align-items: center;
			justify-content: center;
			margin: -0.5rem 0 0;
			.swiper-pagination {
				display: flex;
				align-items: center;
				height: 3rem;
				margin: 0;
				order: 1;
				width: auto;
			}
			.swiper-button-prev {
				order: 0;
			}
			.swiper-button-next {
				order: 2;
			}
			.swiper-button-prev,
			.swiper-button-next {
				background-color: transparent;
				margin: 0;
				position: unset;
				&:after {
					color: #fff;
					font-size: 1rem;
				}
				&:hover {
					background-color: transparent;
					&:after {
						opacity: 0.8;
					}
				}
				@each $color in $colorPalette {
					&[data-color="#{$color}"] {
						&:after {
							color: color("#{$color}");
						}
					}
					&[data-color-background="#{$color}"] {
						background-color: color("#{$color}");
					}
				}
			}
		}
	}
	.swiper-pagination {
		margin: 0.75rem auto 0;
		position: unset;
		.swiper-pagination-bullet {
			background-color: color("black");
			width: 1.125rem;
			height: 1.125rem;
			&.swiper-pagination-bullet-active {
				background-color: color("red");
			}
		}

		@each $color in $colorPalette {
			&[data-color="#{$color}"] {
				.swiper-pagination-bullet {
					background-color: color("#{$color}");
					opacity: 1;
				}
			}
			&[data-color-active="#{$color}"] {
				.swiper-pagination-bullet.swiper-pagination-bullet-active {
					background-color: color("#{$color}");
					opacity: 1;
				}
			}
		}
	}
	.swiper-scrollbar {
		@each $color in $colorPalette {
			&[data-color="#{$color}"] {
				.swiper-scrollbar-drag {
					background-color: color("#{$color}");
				}
			}
		}
	}
	.swiper {
		padding: 1rem;
		&.swiper-vertical {
			.swiper-slide {
				height: auto !important;
			}
			& ~ .swiper-pagination {
				margin: 0;
				position: absolute;
				&.swiper-pagination-horizontal {
					width: auto;
					height: auto;
					bottom: auto;
					.swiper-pagination-bullet {
						display: block;
						margin: 0.375rem 0;
					}
				}
			}
		}
		&.swiper-horizontal {
			& ~ .swiper-pagination.swiper-pagination-vertical {
				transform: none;
				.swiper-pagination-bullet {
					display: inline-block;
				}
			}
		}
		&.swiper-fade {
			.swiper-slide {
				opacity: 0 !important;
				&.swiper-slide-active {
					opacity: 1 !important;
				}
			}
		}
		&.swiper-cards {
			.swiper-slide {
				opacity: 0;
				transition: all 0.1s ease-in-out;	
				article {
					transition: all 0.2s ease-in-out;
					transform: scale(0.8) translateY(16%);
					outline: 20px white solid;
				}
			}
			.swiper-slide-active {
				article{
					transform: scale(1) translateY(0);
					transition: all 0.2s ease-in-out;
					
				}
			}
			.swiper-slide-next,.swiper-slide-prev,.swiper-slide-active {
				opacity: 1;
				transition: all 0.2s ease-in-out;				
			}
		}
	}
	&.slider-type-gallery {
		.swiper {
			padding: 0;
			.swiper-wrapper {
				.swiper-slide {
					.wp-block-image {
						margin: 0;
						img {
							height: 100%;
							object-fit: cover;
							width: 100%;
						}
					}
				}
			}
		}
	}
}
