@import "styles/utils/typography";
@import "styles/utils/variables";

.#{$block-prefix}-quick-links {

  position: fixed;
  top: 20%;
  right: 0;
  background-color: #00000099;
  padding: 0.5rem;
  padding-right: 0;
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
  border: 0.5px solid #FFFFFF;
  z-index: 10;
  transition: all 0.2s ease-in-out;
  transform: translateX(0);

  &:hover {

    transition: all 0.3s ease-in-out;
    transform: translateX(0) !important;
  }

  .quick-links-heading {

    font-size: 0.8rem;
    color: white;
    font-family: $font-body;
    font-weight: bold;
    padding-left: 0.5rem;
    margin-right: 0;
    max-width: 9rem;
    text-align: right;
  }

  a:hover {

    text-decoration: none;

    .quick-link-item {

      transition: all 0.3s ease-in-out;
      background-color: white;
      color: $bradenton-teal;
    }
  }

  .quick-link-items {

    .quick-link-item {

      background: #2B7B7C 0% 0% no-repeat padding-box;
      border: 1px solid #FFFFFF;
      border-right: none;
      padding: 0.6rem;
      padding-left: 1.5rem;
      padding-right: 1rem;
      color: white;
      margin-bottom: 0.5rem;
      font-size: 0.8rem;
      font-weight: bold;
      transition: all 0.2s ease-in-out;
    }
  }
}

.#{$block-prefix}-quick-links.tuck {

  transition: all 0.3s ease-in-out;
  transform: translateX(70%);    
}

/*********************
LARGE SCREENS
*********************/
@media only screen and (min-width: #{$screen-lg + 1}) {
  .#{$block-prefix}-quick-links {
  
  }
}

/*********************
MEDIUM SCREENS
*********************/
@media only screen and (min-width: #{$screen-sm + 1}) and (max-width: $screen-lg) {
  .#{$block-prefix}-quick-links {
    
  }
}

/*********************
SMALL SCREENS
*********************/
@media only screen and (max-width: $screen-sm) {
  .#{$block-prefix}-quick-links {

    display: none;
  }
}
