/*********************
TEST ELEMENTS
*********************/
#isSmall {
    visibility: hidden;
    float: none;
}
#isMedium {
    visibility: hidden;
    float: none;
}
#isLarge {
    visibility: hidden;
    float: left;
}

/*********************
HEADER
*********************/
// Header
.header {
    height: $header-height-desktop;
}
body.admin-bar .header {
    top: $admin-bar-height-desktop;
}

// Header Nav
.header-menu {
    flex: 1 0 0;
    height: 100%;
}
.header-menu__contents {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}
.header-menu__items {
    height: auto;
    & > li {
        position: relative;
        height: 100%;
        & > a {
            line-height: $header-height-desktop;
        }
        & + * {
            margin-left: 1rem;
        }
    }
}
.sub-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: color('black');
}
.header-menu__items > .menu-item:hover .sub-menu {
    display: block;
    min-width: 8rem;
    padding: 0.25rem 0;
    .menu-item {
        padding: 0.25rem 1rem;
        text-align: center;
    }
}

// Mobile toggle button
.mobile-toggle {
    display: none;
}

/*********************
MAIN PAGE CONTENT
*********************/
.main {
}

/*********************
FOOTER
*********************/
.footer-menu__items {
    justify-content: center;
    .menu-item {
        & + * {
            margin-left: 1rem;
        }
    }
}
