/*********************
TEST ELEMENTS
*********************/
#isSmall {
    visibility: hidden;
    float: none;
}
#isMedium {
    visibility: hidden;
    float: none;
}
#isLarge {
    visibility: hidden;
    float: left;
}

/*********************
HEADER
*********************/

.#{$theme-prefix}-header {
   
    .top-bar {
        height: 6rem;
        padding: 1rem 3rem;
    }
    .nav__shortcuts {
        max-width: 36rem;
        margin: 0 2rem;
    }
    .menu__shortcuts {
        .menu-item {
            margin: 0 1rem;
        }
    }
    .mega-menu__menu {
        position: relative;
        .menu-item {
            &.menu-item-has-children::after {
                transform: rotate(90deg);
            }
        }
        & > .menu-item {
            display: flex;
            justify-content: space-between;
            width: fit-content;
            height: 3rem;
            & > a {
                margin-right: 1rem;
            }
            &.open {
                & > .sub-menu {
                    opacity: 1;
                    pointer-events: all;
                }
                &.menu-item-has-children::after {
                    transform: rotate(0deg);
                }
            }
            & > .sub-menu {
                left: 85%;
                width: 20vw;
                margin-left: 3vw;
                margin-right: 1rem;
                opacity: 0;
                pointer-events: none;
                transition: opacity 0.25s ease-in-out;
                position: absolute;
                & > .menu-item {
                    list-style-type: none;
                    position: relative;
                    font-size: 1.1rem;
                    margin: 10px auto;
                    padding-right: 1.75rem;
                    
                    a {
                    color: $bradenton-teal;
                    text-transform: capitalize;
                    }
                    &.menu-item-has-children {
                        &::after {
                            position: absolute;
                            right: 0;
                            top: 0;
                            transform: rotate(-90deg);
                        }
                        .sub-menu {
                            max-height: 0;
                            overflow: hidden;
                            @include standard-transition;
                            .menu-item {
                                margin-top: 1rem;
                                margin-left: 2rem;
                                font-size: 1rem;
                            }
                        }
                        &.open {
                            &::after {
                                transform: rotate(90deg);
                            }
                            .sub-menu {
                                max-height: 60vh;
                                overflow: visible;
                            }
                        }
                    }
                }
            }
        }
    }
    // .toggle {
    //     display: none;
    // }
    .search-form {
        max-width: calc(100vw - 48rem);
        .gsc-search-button svg {
            width: 1.5rem;
            height: 1.5rem;
        }
        &.open .search-container {
            width: 28rem;
        }
    }
}

/*********************
MAIN PAGE CONTENT
*********************/
.main {
}

/*********************
FOOTER
*********************/
.footer-menu__items {
    justify-content: center;
    .menu-item {
        & + * {
            margin-left: 1rem;
        }
    }
}
