@use "../utils" as *;

@media only screen and (min-width: ($screen-sm + 1)) and (max-width: $screen-lg) {
/*********************
TEST ELEMENTS
*********************/
#isSmall {
    visibility: hidden;
    float: none;
}
#isMedium {
    visibility: hidden;
    float: left;
}
#isLarge {
    visibility: hidden;
    float: none;
}

/*********************
HEADER
*********************/
.#{$theme-prefix}-header {

    .top-bar {
        height: 5.5rem;
        padding: 0.5rem;
        gap: 0.8rem;

        .header-weather-forecast {

            position: unset;
            background: unset;
            width: unset;
            height: unset;
            padding: unset;
            z-index: unset;
            display: unset;

            img {

                width: 20px;
            }
            p {

                font-size: 0.8rem;
            }
        }
    }

    .top-bar--solid {

        background-color: $bradenton-teal;

        &::after {

            &:after {
                content: " ";
                background: url('images/top-nav-solid.png');
                background-size: contain;
                background-position: center;
                bottom: -18%;
                height: 2.5rem;
                left: 0;
                position: absolute;
                width: 100vw;
                z-index: -1;
                background-repeat: repeat no-repeat;
            }
        }

        .top-bar__brand {

            padding-top: 0;
        }
    }

    .toggle {

        margin-top: 0;
        transform: scale(0.9);
    }

    .top-bar__brand svg {
        width: 6rem;
    }
    .top-bar__brand {
        padding-top: 0;
    }

    .nav__shortcuts {
        display: none;
    }

    .search-form {

        margin-top: -0.4rem;
    }
    
    .mega-menu__nav-wrap {
        width: 100%;
        display: unset;
        overflow: auto;
        padding-bottom: 5em;
    }

    .mega-menu__nav {

        &--secondary {

            left: 0;
            position: relative;
            padding-left: 2%;
            padding-right: 2%;
            
            ul {

                border-top: $sky-blue 2px solid;
                border-left: none;
                padding: 0.5rem 0 0.5rem 0;

                .menu-item {


                    a {

                        text-transform: uppercase;
                        font-size: 1.1rem;
                        color: $rust;
                        margin-left: 0;
                    }
                }
            }
        }
    }
    .nav__secondary {
        &::before {
            content: "";
            display: block;
            margin: 1rem 2rem;
            border-top: 1px solid white;
        }
    }
    .mega-menu__menu {
        padding-top: 1rem;
        .menu-item {
            position: relative;
            max-width: 350px;
            transition: none;
            a {
                display: inline-block;
                margin: 0.1rem 1rem;
                color: $bradenton-teal;
                font-size: 1.5rem;
            }

            &.menu-item-has-children::after {

                position: absolute;
                right: 6%;            
                width: 2rem;
                height: 2rem;
                transform: rotate(0);
                transition: all 0.2s ease-in-out;
                margin-top: 5px;
            }

            .sub-menu {
                width: 100%;
                max-width: inherit;

                .menu-item {
                    margin: 10px 0;
                    max-width: inherit;

                    a {
                        font-size: 1em;
                        margin: 0;
                    }
                }
            }
        }

        .menu-item.open {

            background-color: unset;

            a {
                color: $bradenton-teal;
            }

            &.menu-item-has-children::after {
                background-image: url('~/images/arrow-teal.png');
                transform: rotate(180deg);
                transition: all 0.2s ease-in-out;
                margin-top: 0;
            }

            .sub-menu {
                width: 100%;
                max-height: fit-content;
                position: relative;
                padding-left: 18px !important;
                // transition: all 0.2s ease-in-out;
                transition: none;
                box-sizing: border-box;

                .menu-item {

                    a {

                        margin: 0;
                        font-size: 1.2rem;
                        color: $bradenton-teal;
                    }
                }
            }
        }

        & > .menu-item {
            padding-left: 0;
            padding-right: 0;
            width: 80%;
            display: block;
            height: fit-content;
            &::after {
                position: absolute;
                top: 1rem;
                right: 2rem;
                transform: rotate(-90deg);
            }
        }

        .sub-menu {
            max-height: 0;
            overflow: hidden;
            left: 0 !important;
            padding: 0 !important;
        
            .menu-item {
                font-size: 1.25rem;
                a {
                    margin: 1rem 3rem;
                }
            }
            .sub-menu {
                .menu-item {
                    font-size: 1rem;
                    a {
                        margin: 1rem 3.5rem;
                    }
                }
            }
        }
    }

    .mega-menu__local-stories {
        width: 100%;
        max-width: inherit;
        .local-stories-nav {
            .venue {
                max-width: 200px;
            }
        }
    }
    &.open {

        .nav__shortcuts {
            max-width: 38rem;
            margin-left: 0.5rem;
        }

        .top-bar {
            background: $bradenton-teal;
        }

        .search-wrap {
            display: block;
            left: 0;
        }
        .mega-menu {
            min-height:800px !important;
            max-height: inherit !important;
            height: 95vh !important;
            padding-top: 3rem;
            overflow: auto;
            padding-right: 0 !important;
            // background: transparent linear-gradient(180deg, #014067 17%, #014067 18%, white 21%) 0% 0% no-repeat padding-box;
        }

        .mega-menu-shortcuts--mobile {
            margin-right: 0;
            display: block;
            max-width: inherit;

            .menu__shortcuts {
                position: relative;
                background: $bradenton-teal;
                margin-top: 0;
                flex-wrap: wrap;
                justify-content: center;
                // flex-direction: column;
                gap: 0.5rem;
                padding-bottom: 1em;

                .menu-item {
                    width: auto;
                }
                // .menu-item:first-child {
                //    width: 100%;

                //    a {
                //     margin-top: -2rem;
                //     display: block;
                //     text-align: center;
                //    }
                // }
                &:after {
                    content: " ";
                    background: #fff url('images/top-nav-solid.png');
                    background-size: contain;
                    background-position: top center;
                    bottom: -18%;
                    height: 2.5rem;
                    left: 0;
                    position: absolute;
                    width: 100vw;
                    z-index: -1;
                    background-repeat: repeat no-repeat;
                }
            }
        }

        .top-bar__contents {

            .mega-menu-shortcuts {
    
                display: none;
            }
        }
    }
    &.open.searchopen {
        .mega-menu {
            padding-top: #{3rem + 2.75rem};
        }
    }

    .social-container {
        position: relative;
        width: 100%;
        text-align: center;
        margin-top: 2em;

        h4 {

            text-align: center;
        }
    }
   
}

/*********************
WEATHER
*********************/
.header-weather-forecast {
    
    display: none;
}


/*********************
FOOTER
*********************/
.footer {
    flex-direction: column;
    padding: 155px 6vw 6rem;

    .footer-col {

        margin: auto;
    }
}

/*********************
Photo Credit
*********************/

.wp-block-gallery {

    .wp-block-image {

        .photocredit {

            &::before {
            left: 0;
            max-width: 200px;
            top: 1.75rem;
            width: max-content;
            }
        }
    }
}
}