/*********************
TEST ELEMENTS
*********************/
#isSmall {
    visibility: hidden;
    float: none;
}
#isMedium {
    visibility: hidden;
    float: left;
}
#isLarge {
    visibility: hidden;
    float: none;
}