/*********************
TEST ELEMENTS
*********************/
#isSmall {
    visibility: hidden;
    float: left;
}
#isMedium {
    visibility: hidden;
    float: none;
}
#isLarge {
    visibility: hidden;
    float: none;
}

/*********************
HEADER
*********************/
.#{$theme-prefix}-header {

    .top-bar {
        height: 6rem;
        padding: 1rem 2rem;
    }
    .top-bar__brand svg {
        width: 5rem;
    }
    .nav__shortcuts {
        display: none;
    }
    // .search-wrap {
    //     position: absolute;
    //     top: 4rem;
    //     left: 0;
    //     width: 100%;
    //     padding: 0 1rem;
    //     .search-form {
    //         max-width: 100%;
    //         height: 0;
    //         justify-content: flex-end;
    //         padding: 0 1rem;
    //         .search-form__toggle {
    //             position: absolute;
    //             right: 8.3rem;
    //             top: -1.75rem;
    //         }

    //         .search-container {
    //             margin: 1.5em 0;
    //         }
    //         &.open {
    //             height: auto;
    //             .search-container {
    //                 width: 100%;
    //             }
    //         }
    //         &:not(.open) {
    //             .search-container {
    //                 transition: none;
    //             }
    //         }
    //     }
    // }
    .mega-menu__nav-wrap {
        width: 100%;
    }
    .nav__secondary {
        &::before {
            content: "";
            display: block;
            margin: 1rem 2rem;
            border-top: 1px solid white;
        }
    }
    .mega-menu__menu {
        .menu-item {
            position: relative;
            a {
                display: inline-block;
                margin: 1rem 2rem;
            }
        }
        & > .menu-item {
            &::after {
                position: absolute;
                top: 1rem;
                right: 2rem;
                transform: rotate(-90deg);
            }
        }

        .sub-menu {
            max-height: 0;
            overflow: hidden;
            background-color: #96111d;
            @include standard-transition;
            .menu-item {
                font-size: 1.25rem;
                a {
                    margin: 1rem 3rem;
                }
            }
            .sub-menu {
                background-color: #8b0c17;
                .menu-item {
                    font-size: 1rem;
                    a {
                        margin: 1rem 3.5rem;
                    }
                }
            }
        }
    }
    &.open {
        .search-wrap {
            display: block;
        }
        .mega-menu {
            max-height: 100vh;
            height: 100vh;
            padding-top: 3rem;
            overflow: auto;
        }
    }
    &.open.searchopen {
        .mega-menu {
            padding-top: #{3rem + 2.75rem};
        }
    }

   
}

/*********************
SEARCH FUNCTIONALITY
*********************/
// .search-icon {
//     display: none;
// }

// .search-form {
//     position: relative;
//     top: auto;
//     width: 100%;
//     height: auto;
//     background-color: transparent;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     text-align: center;

//     &.search-form--open {
//         display: block ;
//         margin-top: 50px;
//     }
//     .search-form__field {
//         font-size: .85em;
//         background-color: transparent;
//         border: none;
//         border-bottom: 1px solid #c7c7c7;
//         margin: 0 15px;
//     }
//     .search-form__submit {
//         border-radius: 5px;
//         border: none;
//         font-size: .85em;
//         font-weight: normal;
//     }
// }

/*********************
MAIN PAGE CONTENT
*********************/
.main {
}

/*********************
SOCIAL ICONS
*********************/
.social-wrapper {
    display: flex;
    flex-direction: row;
    &.mobile-social {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        margin-top: 30px;
    }
    .social-icon {
        fill: white;
        width: 30px;
        height: auto;
        margin: 0 5px;
    }
}


/*********************
FOOTER
*********************/
.footer {
    flex-direction: column;
    padding: 2em 6vw 6rem 6vw;

    .footer-col {

        margin: auto;
    }

    &__copyright {

       font-size: 0.6rem;
       bottom: 0;
    }

    // Footer menu
.footer-menu {
    margin-top: 1rem;
    ul {

        .menu-item {

    
            a {

                text-decoration: none;
                color: white;
                text-transform: uppercase;
                font-size: 0.9rem;
            }
        }
    }
}

    .search-form {

        width: 50vw;
        &__submit {
    
           left: -8.5vw;
        }
        &__field {

            position: -7vw;
        }
    }

    .social-container {

        .social-icon {
         
            svg {

                height: 40px;
                width: 40px;
            }
        }
    }
}

.footer-menu__items {
    flex-direction: column;
    .menu-item {
        & + * {
            margin-top: 1rem;
        }
    }
}
