
/*********************
Wide Slideshow
*********************/


/*********************
SMALL SCREENS
*********************/
@media only screen and (max-width: $screen-sm) {
  .#{$block-prefix}-wideslideshow { 


  }
}
