@import "styles/utils/variables";
@import "styles/utils/typography";
@import "styles/utils/mixins";
// @import url("../../../../../../node_modules/@fancyapps/ui/dist/panzoom/panzoom.css");
// @import url("../../../../../../node_modules/@fancyapps/ui/dist/panzoom/panzoom.controls.css");

.#{$block-prefix}-bradenton-map {
  position: relative;
  display: flex;
  align-items: center;
  margin: auto;
  justify-content: center;
  gap: 4rem 8rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: unset !important;
  height: 48vw;
  overflow: hidden;

  @media only screen and (max-width: $screen-lg) {
    gap: 4rem 4vw;
  }

  .mapContainer {
    //height: fit-content;
    width: 100%;
    z-index: 1;

    .map-logo {
      position: absolute;
      top: 57%;
    }

    .county {
      cursor: pointer;
      transition: all 0.3s;

      &:hover,
      &.active {
        fill: rgba($bradenton-teal, 1) !important;
      }
    }

    svg {
      width: 100%;
      height: 100%;

      // @media screen and (max-width: $screen-sm) {
      //   width: 186vw;
      //   height: 650px;
      //   position: relative;
      //   right: 29vw;
      // }

      #ICONS g {
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        transform-box: fill-box;
        transform-origin: center;
        transform: scale(1);

        &:hover {
          transition: all 0.3s ease-in-out;
          // transform: scale(1.05);
        }
      }

      .bradenton-stop {
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        transform-box: fill-box;
        transform-origin: center;

        .st24 {
          transition: all 0.3s ease-in;
        }

        &:hover {
          .st24 {
            fill: $bradenton-teal;
            transition: all 0.2s ease-in-out;
          }
        }
      }
    }
  }
}

.ferry-map-help {
  text-align: center;
  width: fit-content;
  background-color: $bradenton-teal;
  font-family: $font-title;
  font-size: 4rem;
  padding: 0 2%;
  position: absolute;
  bottom: 4rem;
  right: 0;
  margin: auto;
  z-index: 2;
  max-width: 16rem;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  padding: 0 2rem 0 3rem;

  h4 {
    font-family: $font-header;
    font-size: 0.9rem;
    color: $yellow-tan;
    margin: 1rem auto;
  }

  p {
    color: white;
    font-weight: 600;
    font-size: 1.85rem;
    line-height: 1.2em;
    margin: 1rem auto;
  }
}

.bradenton-lightbox {
  transform: translateX(-100%);
  overflow-y: scroll;
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4ebbbb;
  width: 30rem;
  transition: all 0.3s ease-in-out;

  @include screen-sm-max {
    width: 100%;
  }

  .close {
    font-size: 1.6rem;
    position: absolute;
    top: 4%;
    right: 4%;
    color: white;
    cursor: pointer;
    z-index: 3;
  }

  &--on {
    transform: translateX(0);
    transition: all 0.3s ease-in-out;
  }

  .bradenton-card {
    visibility: hidden;
    transform: scale(0);
    transition:
      transform 0.3s ease,
      opacity 0.3s ease,
      visibility 0s 0.3s;
    opacity: 0;
    width: 1000px;
    max-width: 90%;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
    display: flex;
    width: fit-content;
    gap: 3rem;
    align-items: center;

    padding: 0.25rem;
    line-height: 1.9em;

    &.pop-in {
      visibility: visible;
      transform: scale(1);
      opacity: 1;
      transition:
        transform 0.3s ease,
        opacity 0.3s ease;
    }

    &.pop-out {
      transform: scale(0);
      opacity: 0;
      visibility: hidden;
      display: none;
      transition:
        transform 0.3s ease,
        opacity 0.3s ease,
        visibility 0s 0.3s;
    }

    &__content {
      width: 30rem;
      padding: 2rem 0;

      h3 {
        margin: 0 auto;
        color: white;
        font-size: 1.5rem;
        font-family: $font-header;
      }

      p {
        color: white;
        font-size: 1.25rem;
        min-height: 5.5rem;
        margin-bottom: 2.5rem;
      }

      .bradenton-card-cta {
        background-color: $rust;
        color: white;
        padding: 1rem 2rem;
        border-radius: 20px;
        transition: all 0.3s ease-in-out;
        width: fit-content;
        text-align: center;

        @include screen-sm-max {
          padding: 1rem 1rem;
        }

        a {
          color: white;
          text-decoration: none;
        }

        &:hover {
          background-color: darken($bradenton-teal, 1.4);
          transform: scale(1.1);
          transition: all 0.2s ease-in-out;
        }
      }
    }

    img {
      width: 280px;
      height: 300px;
      object-fit: cover;
    }
  }
}

/*********************
SMALL SCREENS
*********************/
@media only screen and (max-width: $screen-md) {
  .#{$block-prefix}-bradenton-map {
    height: 400px;
    overflow: hidden;

    #bradentonRiverwalk {
      transform: translate(-8831px, 3277.174px) scale(1.7);
    }
    #bridgeStreet {
      transform: translate(-8861px, 3277.174px) scale(1.7);
    }
    #ami {
      transform: translate(-8861px, 3277.174px) scale(1.7);
    }

    .ferry-map-help {
      bottom: unset;
      top: 1rem;
      max-width: 13rem;
      padding: 0 1rem 0 2rem;

      h4 {
        font-size: 0.6rem;
        margin-bottom: 0.5rem;
      }

      p {
        font-size: 0.9rem;
        margin-top: 0.5rem;
      }
    }
  }

  .bradenton-lightbox {
    height: 100%;

    .bradenton-card {
      transform: scale(0) !important; /* Center by default, but scale down */
      flex-direction: column-reverse;
      top: 60%;
      gap: 1.5rem;
      margin-top: 5rem !important;
      transform: none !important;
      position: unset;
      width: 95% !important;
      margin: auto;

      &__content {
        width: inherit !important;
        padding: 0;
      }

      img {
        width: 100% !important;
      }
    }
  }
}

@keyframes bounce-scale {
  0% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.15);
  }
  60% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1.05);
  }
}

.bounce-scale {
  animation: bounce-scale 1s ease;
  transform: scale(1.05);
}

.#{$block-prefix}-bradenton-map {
  .mapContainer {
    display: flex;
    justify-content: center; /* horizontal */
    align-items: center;
    height: 100%;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
  }
  .mapContainer::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and newer Edge */
  }
  .mapViewArea {
    width: 100%;
    svg {
      width: 100% !important;
    }
  }
}
@media only screen and (max-width: $screen-md) {
  .#{$block-prefix}-bradenton-map {
    .mapViewArea {
      height: 1000px;
      width: auto;
      svg {
        width: auto !important;
      }
    }
  }
}
