@import 'styles/utils/variables';
@import 'styles/utils/typography';
/*********************
Content Slider
*********************/

  .mm-content-slider { 
    overflow: hidden;

    .content-sliderswiper-pagination {
      display: none;
    }

    .swiper-button-prev {
      left: -10px;
    }
    .swiper-button-next {
      right: -10px;
    }
    .swiper-button-next,
    .swiper-button-prev {
      &:before,
      &:after {
        display: none;
      }
    }
  }
