@import 'styles/utils/variables';
@import 'styles/utils/typography';
/*********************
Content Slider
*********************/

  .mm-content-slider { 
    overflow: hidden;

    .content-sliderswiper-pagination {
      display: none;
    }

    .content-slider-swiper-button-prev {
      left: -10px;
    }
    .content-slider-swiper-button-next {
      right: -10px;
    }
    .content-slider-swiper-button-next,
    .content-slider-swiper-button-prev {
      position: absolute;
      top: 25%;
      z-index: 10;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      &:before,
      &:after {
        display: none;
      }
    }
  }
