@import "styles/utils/variables";
@import "styles/utils/typography";

.#{$block-prefix}-hero {
	width: 100%;
	justify-content: center;
	align-items: center;
	z-index: -1;
	position: relative;
	overflow-x: clip;

	.fade:before {
		content: " ";
		background-image: linear-gradient(to top, rgba(255, 255, 255, 0), rgb(255, 255, 255) 80%);
		height: 1.5em;
		display: block;
		z-index: 1;
		position: relative;
		bottom: -0em;
		left: 0;
		right: 0;
	}

	.wave {
		display: none;
	}

	.badge {
		width: 200px;
		height: 200px;
		position: absolute;
		left: 0;
		right: 0;
		top: 35%;
		z-index: 100000000;
		margin: 0 auto;
	}

	&.videoHero { //hide double scroll bar. default set to overflow-x: cip but that stil shows hero video bars
		//overflow: hidden;
		//On 8.24.23 Noticed no double side bars with this commented out unlike before. Will push live. pnh
		&:after {
			content: " ";
			background: transparent url("images/hero-bottom.png") no-repeat;
			background-size: 100% auto;
			height: 12em;
			left: 0;
			position: absolute;
			width: 105%;
			z-index: 1;
			bottom: 1em;
			background-size: cover;
		}
	}
	.hero {
		width: 100%;
		height: 100vh;
		min-height: 50rem;
		position: relative;
		z-index: 1;
		background: transparent url("images/pixel.png") no-repeat bottom center;
		background-size: cover;
		&.full {
			height: 90vh;
			transform: none;

			&::after {
		      background: url('images/slideshow-bottom.png') repeat-x center;
		      position: absolute;
		      width: 100%;
		      height: 3.5rem;
		      bottom: 0;
		      z-index: 1;
		    }
		}

		&:after {
			content: " ";
			background: transparent url("images/hero-bottom.png") no-repeat;
			background-size: 100% auto;
			height: 12em;
			left: 0;
			position: absolute;
			width: 105%;
			z-index: 1;
			bottom: 0;
			background-size: cover;
		}

	}
	.hero-video-play {
		position: absolute;
		top: #{$header-height-desktop + 2rem};
		left: 2rem;
		z-index: 10;
		width: 2.5rem;
		height: 2.5rem;
		border: none;
		border-radius: 2.5rem;
		background-color: color("dark-blue");
		cursor: pointer;
		&.pause {
			&::before,
			&::after {
				content: "";
				position: absolute;
				top: 50%;
				height: 50%;
				transform: translateY(-50%);
				width: 0.25rem;
				background-color: white;
			}
			&::before {
				left: 35%;
			}
			&::after {
				right: 35%;
			}
		}
		&.play {
			&::before {
				content: "";
				display: block;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 8px 0 8px 13.9px;
				border-color: transparent transparent transparent white;
			}
		}
	}
	.video {
		width: 100%;
		height: 100vh;
		min-height: 100vh;
		position: relative;
		z-index: 1;
		video {
			width: 100%;
			height: 100%;
			display: block;
			object-fit: cover;
		}
		&.video--mobile {
			display: none;
		}
	}
	@media only screen and (max-width: 678px) {
		.video { 
			&.video--mobile {
				display: block;
			}
			&.video--desktop {
				display: none;
			} 
		}
	}
	.title {
		color: $white;
		font-family: $font-title;
		width: 95%;
		max-width: 100%;
		margin: 0 auto;
		font-weight: 700;
		text-align: left;
		position: absolute;
		left: 8%;
		right: 0;
		top: 40%;
		transform: translateY(-40%);
		text-shadow: 0 5px 20px #000000a3;
		z-index: 1000000;
		font-size: 12rem;
		font-weight: 100;

		span {
			display: block;
			font-size: 2rem;
			color: $white;
			font-family: $font-header;
			position: absolute;
			max-width: 23rem;
			text-align: center;
			left: 10.5rem;
			margin: auto;
		}
	}
}


.#{$block-prefix}-hero {
	&.wave-alter {
		height: 50vh;
		.wave {
			position: relative;
			top: 50px;
			height: 15vw;
			background-position: initial !important;
		}
	}
}

/*********************
SMALL SCREENS
*********************/

//
// this wave will be the death of me. that is all.
//

@media only screen and (max-width: 768px) {
	.#{$block-prefix}-hero {
		// &:not(.videoHero) {
		// 	&:after {
		// 		padding-bottom: 137%;
		// 	}
		// }

		.hero {

			min-height: 35rem;
    		max-height: 630px;
		}

		.title {
			width: 70%;
			font-size: 20vw;
			line-height: 12vw;
			text-align: center;
			left: 50%;
			top:50%;
			transform: translateX(-50%);

			span {
				margin-top: 1.25rem;
				font-size: 4vw;
				line-height: 1em;
				bottom: 5rem;
				left: 50%;
				transform: translateX(-50%);
			}
		}
		.hero-video-play {
			top: 8rem;
		}
		&::after {
			height: 12vh;
		}
	}
}

@media only screen and (min-width: 641px) and (max-width: 767px) {
	.#{$block-prefix}-hero {
		// .title {
		// 	width: 70%;
		// 	font-size: 16vw;
		// 	line-height: 16vw;
		// }
	}
}