# The routes of the project.
#
# Each route describes how an incoming URL is going
# to be processed by Platform.sh.

"https://www.{default}/":
    type: upstream
    upstream: "app:http"
    cache:
        enabled: false
        # Base the cache on the session cookies. Ignore all other cookies.
        cookies: [ '/^wordpress_logged_in_/', '/^wordpress_sec_/', 'wordpress_test_cookie' ]
        default_ttl: 600

"https://{default}/":
    type: redirect
    to: "https://www.{default}/"

"https://{default}/wp-login.php":
    type: upstream
    upstream: app:http
    cache:
        enabled: false

"https://360.{default}/":
    type: redirect
    to: "https://www.{default}/360/"

#
# vanity domains
#
"http://bacvb.com":
    type: upstream
    upstream: "app:http"
    redirects:
        paths:
            '^/(.*)':
                to: 'https://www.{default}/$1$is_args$args'
                regexp: true

"http://premiersportscampus.com":
    type: upstream
    upstream: "app:http"
    redirects:
        paths:
            '^/(.*)':
                to: 'https://www.{default}/venues/premier-sports-campus/$1$is_args$args'
                regexp: true

"http://premiersportscampus.net":
    type: upstream
    upstream: "app:http"
    redirects:
        paths:
            '^/(.*)':
                to: 'https://www.{default}/venues/premier-sports-campus/$1$is_args$args'
                regexp: true
            
"http://premiersportscampus.org":
    type: upstream
    upstream: "app:http"
    redirects:
        paths:
            '^/(.*)':
                to: 'https://www.{default}/venues/premier-sports-campus/$1$is_args$args'
                regexp: true