# The routes of the project.
#
# Each route describes how an incoming URL is going
# to be processed by Platform.sh.

"https://www.{default}/":
    type: upstream
    upstream: "app:http"
    cache:
        enabled: false
        # Base the cache on the session cookies. Ignore all other cookies.
        cookies: [ '/^wordpress_logged_in_/', '/^wordpress_sec_/', 'wordpress_test_cookie' ]
        default_ttl: 600

"https://{default}/":
    type: redirect
    to: "https://www.{default}/"

"https://{default}/wp-login.php":
    type: upstream
    upstream: app:http
    cache:
        enabled: false

https://{default}/360:
    type: proxy
    to: https://360.{default}/
