.#{$block-prefix}-photo-credit {
	position: relative;
	width: 25px;
	height: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: content-box;
	svg {
		width: 15px;
		height: 15px;
	}
	span {
		display: block;
		position: absolute;
		top: calc(100% + 10px);
		left: 0;
		white-space: nowrap;
		font-size: 14px;
		line-height: 1.2;
		background: rgba(255, 255, 255, 0.8);
		padding: 3px 8px 4px;
		border-radius: 5px;
		pointer-events: none;
	}
}
body:not(.block-editor-page) {
	.#{$block-prefix}-photo-credit {
		span {
			opacity: 0;
		}
		&:hover {
			span {
				opacity: 1;
			}
		}
	}
}
