.editor-styles-wrapper {
    .segment_edit_section {
        padding-bottom: 0.5em;
        font-size: 0.9rem;
        position: relative;
        p {
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
        }
        &.inline_edit_section {
            display: flex;
            flex-wrap: wrap;
            span {
                font-size: 0.9rem;
            }
            .components-base-control {
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin: 0 0.5em;
                .components-base-control__field {
                    margin-bottom: 0;
                    input  {
                        border: none;
                        border-bottom: 2px solid #e2e4e7;
                        border-radius: 0;
                        padding: 0;
                        font-size: 1.5em;
                        text-align: center;
                    }
                }
            }
        }
        .edit_tax {
            display: none;
            position: absolute;
            background-color: white;
            border: 2px solid #e2e4e7;
            width: 90%;
            padding: 1em;
            z-index: 1;
            &.show {
                display: unset;
            }
            .confirm_tax_edit {
                position: absolute;
                top: 3px;
                right: 3px;
            }
        }
    }
}