/* === Typography === */
body {
  .fs-20 {
    font-size: 20px !important;
  }
}
@include screen-sm-max {
  .text-align-mobile {
    text-align: center;
  }
  body {
    .mob-fs-54 {
      font-size: 54px !important;
    }
    .mob-fs-45 {
      font-size: 45px !important;
    }
  }
}

/* === Layout === */
@include screen-sm-max {
  .mob-row-reverse {
    flex-direction: column-reverse;
  }
}

/* === Effects === */
.rotate-glow {
  text-shadow: 2px 2px 6px #fff;
  transform: rotate(-3deg);

  @include screen-sm-max {
    width: 100%;
  }
}
