@import 'styles/utils/variables';
@import 'styles/utils/typography';

.#{$block-prefix}-beaches-map {
  max-width: 90%;
  width: 500px;

  .beaches-map {
    width: 100%;
    height: 500px;
    position: relative;
    margin: 0 auto;
    background: url('http://madden.localhost:8090/wp-content/uploads/map-rev122723.png') center no-repeat;
    background-size: contain;

    .location_pin {
      position: absolute;
      display: flex;
      flex-wrap: wrap;
      max-width: 125px;
      justify-content: center;

      .beachName {
        font-size: 1.5em;
        font-family: $font-title;
        font-weight: 700;
        margin-right: 5px;
        text-align: center;
      }

      .marker {
        display: block;
        width: 20px;
        height: auto;
      }

      &#bean-point {
        top: 0;
        left: 0px;
      }

      &#anna-maria-beach {
        top: 25px;
        left: 50px;
      }

      &#manatee-beach {
        top: 100px;
        left: 50px;
      }

      &#holmes-beach {
        top: 180px;
        left: 100px;
      }

      &#cortez-beach {
        top: 300px;
        left: 150px;
      }

      &#coquina-beach {
        top: 365px;
        left: 165px;
      }

      &#beer-can-island-greer-island {
        top: 390px;
        left: 225px;
        .beachName {
          order: 2;
        }
        .marker {
          order: 1;
        }
      }

      &#whitney-beach {
        top: 450px;
        left: 215px;
      }

      &#de-soto-national-memorial-beach, &#palma-sola-causeway {
        display: none;
      }
    }
  }

  .beach_content_overlay {
    display: none;
  }

}
