@import 'styles/utils/variables';
@import 'styles/utils/typography';

.#{$block-prefix}-beaches-map {

  .beaches-map {
    position: relative;
    width: 450px;
    height: 550px;
    margin: 0 auto;
    position: relative;
    background: url('http://madden.localhost:8090/wp-content/uploads/map-rev122723.png') center no-repeat;
    background-size: contain;

    .location_pin {
      position: absolute;
      display: flex;
      flex-wrap: wrap;
      max-width: 125px;
      justify-content: center;
      cursor: pointer;

      .beachName {
        font-size: 1.5em;
        font-family: $font-title;
        font-weight: 700;
        margin-right: 5px;
        text-align: center;
        color: #000;
        transition: color 0.35s;
      }

      .marker {
        display: block;
        width: 20px;
        height: auto;
        transition: transform 0.4s;
      }

      &:hover {
        .beachName {
          color: $bradenton-teal;
        }

        .marker {
          transform: translateY(3px);
        }
      }

      &#bean-point {
        top: 0;
        left: 0px;
      }

      &#anna-maria-beach {
        top: 25px;
        left: 50px;
      }

      &#manatee-beach {
        top: 100px;
        left: 50px;
      }

      &#holmes-beach {
        top: 180px;
        left: 100px;
      }

      &#cortez-beach {
        top: 300px;
        left: 150px;
      }

      &#coquina-beach {
        top: 365px;
        left: 165px;
      }

      &#beer-can-island-greer-island {
        top: 390px;
        left: 225px;
        .beachName {
          order: 2;
        }
        .marker {
          order: 1;
        }
      }

      &#whitney-beach {
        top: 450px;
        left: 215px;
      }

      &#de-soto-national-memorial-beach, &#palma-sola-causeway {
        display: none;
      }
    }
  }

  .beach_content_overlay {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(#fff,0.85);

    .beach_content {
      width: 1000px;
      max-width: 90%;
      // min-height: 200px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      background: $bradenton-teal;
    }

    .close {
      color: #fff;
      position: absolute;
      right: 15px;
      top: 0px;
      font-size: 2em;
      opacity: 0.8;
      cursor: pointer;
      transition: opacity 0.3s;
      &:hover {
        opacity: 1;
      }
    }

    .selectBeach {
      display: none;

      &.show {
        display: flex;
      }

      .beachImg {
        flex: 0 0 40%;
        min-width: 40%;
        max-width: 40%;
        overflow: hidden;

        .img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .content {
        flex: 0 0 60%;
        color: #fff;
        padding: 3em;
        box-sizing: border-box;

        h3 {
          font-family: $font-header;
          font-weight: 400;
          margin-top: 0;
        }

        p {
          color: #fff;
        }

        .postLink {
          color: #fff;
          text-transform: uppercase;
          font-family: $font-header;
          position: relative;
          transition: all 0.3s ease-in-out;
          min-width: 7rem;
          max-width: 15rem;
          font-size: 0.95rem;
          display: inline-block;
          &:after {
            content: " ";
            transition: all 0.3s ease-in-out;
            position: absolute;
            right: -2rem;
            bottom: -35%;
            height: 25px;
            width: 25px;
            background: url('~/images/ui-next-off.png') center;
            background-size: contain;
          }
          &:hover {
            &:after {
              transition: all 0.2s ease-in-out;
              transform: translateX(8%);
            }
          }
        }
      }
    }
  }

}

/*********************
MEDIUM AND LARGE SCREENS
*********************/
@media only screen and (min-width: 769px) {
  .#{$block-prefix}-beaches-map {
  }
}

/*********************
SMALL SCREENS
*********************/
@media only screen and (max-width: 768px) {
  .#{$block-prefix}-beaches-map {
  }
}
