@import 'styles/utils/variables';
@import 'styles/utils/typography';

.#{$block-prefix}-beaches-map {

  .beaches-map {
    position: relative;
    width: 450px;
    height: 550px;
    margin: 0 auto;
    position: relative;
    background: url('~/images/beach-map.png') center no-repeat;
    background-size: contain;

    .location_pin {
      position: absolute;
      display: flex;
      flex-wrap: wrap;
      max-width: 125px;
      justify-content: center;
      cursor: pointer;

      .beachName {
        font-size: 1.5em;
        font-family: $font-title;
        font-weight: 700;
        margin-right: 5px;
        text-align: center;
        color: #000;
        transition: color 0.35s;
      }

      .marker {
        display: block;
        width: 20px;
        height: auto;
        transition: transform 0.4s;
      }

      &:hover {
        .beachName {
          color: $bradenton-teal;
        }

        .marker {
          transform: translateY(3px);
        }
      }

      &#bean-point {
        top: 0;
        left: 0px;
      }

      &#anna-maria-beach {
        top: 52px;
        left: -23px;
        max-width: 150px;
      }

      &#manatee-beach {
        top: 100px;
        left: 50px;
      }

      &#holmes-beach {
        top: 180px;
        left: 100px;
      }

      &#cortez-beach {
        top: 300px;
        left: 150px;
      }

      &#coquina-beach {
        top: 365px;
        left: 163px;
      }

      &#beer-can-island-greer-island {
        top: 358px;
        left: 280px;
        justify-content: flex-start;
        .beachName {
          padding-left: 5px;
        }
      }

      &#whitney-beach {
        top: 450px;
        left: 215px;
      }

      &#de-soto-national-memorial-beach, &#palma-sola-causeway {
        display: none;
      }
    }
  }

  .beach_content_overlay {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(#fff,0.95);

    .beach_content {
      width: 1000px;
      max-width: 90%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      background: $bradenton-teal;
    }

    .close {
      color: #fff;
      position: absolute;
      right: 15px;
      top: 0px;
      font-size: 2em;
      opacity: 0.8;
      cursor: pointer;
      transition: opacity 0.3s;
      &:hover {
        opacity: 1;
      }
    }

    .selectBeach {
      display: none;
      min-height: 380px;

      &.show {
        display: flex;
      }

      .beachLogo {
        position: absolute;
        z-index: 10;
        bottom: -20px;
        left: -20px;
        width: 100px;
        height: 100px;
        background-color: $rust;
        border-radius: 50%;
        box-sizing: border-box;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: auto;
          height: auto;
          max-width: 100%;
          max-height: 100%;
        }
      }

      .beachImg {
        flex: 0 0 40%;
        min-width: 40%;
        max-width: 40%;

        .img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .features {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 100;
        padding: 5px 10px 5px 20px;
        background-color: rgba(#000,0.4);
        max-width: 40%;
        .featuresTItle {
          color: #fff;
          font-size: 0.9em;
          margin-bottom: 7px;
        }
        .icon {
          width: 20px;
          height: 20px;
          display: block;
          margin-right: 10px;
        }
        .tooltip {
          position: relative;
          display: inline-block;
          &::before {
            content: attr(data-tooltip);
            position: absolute;
            background-color: $rust;
            width: 90px;
            text-align: center;
            color: #fff;
            padding: 5px;
            font-size: 0.8em;
            border-radius: 3px;
            opacity: 0;
            transition: opacity 0.3s;
            top: 110%; 
            left: 50%;
            transform: translateX(-50%);
          }
          &:hover::before {
            opacity: 1;
          }
        }
      }

      .content {
        flex: 0 0 60%;
        color: #fff;
        padding: 3em;
        box-sizing: border-box;

        h3 {
          font-family: $font-header;
          font-weight: 400;
          margin-top: 0;
        }

        p {
          color: #fff;
        }

        .postLink {
          color: #fff;
          text-transform: uppercase;
          font-family: $font-header;
          position: relative;
          transition: all 0.3s ease-in-out;
          min-width: 7rem;
          max-width: 15rem;
          font-size: 0.95rem;
          display: inline-block;
          &:after {
            content: " ";
            transition: all 0.3s ease-in-out;
            position: absolute;
            right: -2rem;
            bottom: -35%;
            height: 25px;
            width: 25px;
            background: url('~/images/ui-next-off.png') center;
            background-size: contain;
          }
          &:hover {
            &:after {
              transition: all 0.2s ease-in-out;
              transform: translateX(8%);
            }
          }
        }
      }
    }
  }
}

/*********************
SMALL SCREENS
*********************/
@media only screen and (max-width: 768px) {
  .#{$block-prefix}-beaches-map {
    .beach_content_overlay {
      .selectBeach {
        flex-direction: column;

        .features {
          max-width: 100%;
        }

        .beachImg {
          flex: 1;
          max-width: 100%;
          min-width: inherit;
          max-height: 300px;
        }

        .content {
          flex: 1;
        }

        .beachLogo {
          left: auto;
          right: -20px;
          width: 80px;
          height: 80px;
        }

      }
    }
  }
}
