@use '../utils/variables' as vars;
@use '../utils/typography' as type;
#content-404 {
	position: relative;
	width: 100%;
	background-image: url(~/images/404.jpg);
	background-size: cover;
	background-position: left center;
	height: auto;
	min-height: 60vw;
	display: flex;
	.content-inner {
		display: flex;
		flex-direction: column;
		justify-content: center;
		color: white;
		width:50%;
		min-width: 700px;
		
		text-align: center;
		margin: 0;
		h1 {
			position: relative;
			top: -25px;
			font-family: type.$font-title;
			color: vars.$dk-blue;
			font-size: 15rem;
			margin: 0 0 1rem;
			line-height: 10rem;
			span {
				display: inline-block;
				font-size: 4rem;
				line-height: 3.25rem;
			}
		}
	}
	&:after {
        content: " ";
        background: transparent url(~/images/hero-bottom.png) no-repeat;
        background-size: 100% auto;
        height: 12em;
        left: 0;
        position: absolute;
        pointer-events: none;
        width: 105%;
        z-index: 1;
        bottom: -20px;
        background-size: cover;
      }

	  .button {
		display: block;
		align-self: center;
		font-family: type.$font-header;
		background: vars.$bradenton-teal;
		color: white !important;
		position: relative;
		font-size: 14px;
		line-height: 14px;
		font-weight: 500;
		padding: 22px 60px 22px 30px;
		border-radius: 10px;
		img {
			position: absolute;
			top: 15px;
			right: 20px;
			height: 25px;
			width: auto;
		}
	  }
	 
	  @media all and (max-width: 768px) {
		padding: 10rem 0 20rem;
		.content-inner {
			width: 100%;
			max-width: 100%;
			min-width: 0;
			h1 {
				span {
					display: block;
				}
			}
		}
	}
& + div > .wp-block-cover {
	margin-top: 0 !important;
}
}

.page-content--maintenance {

	min-height: 800px;

	.content-inner {

		.maintenance-message {

			margin: -2rem 1% 1rem 1%;
			padding: 2% 3%;
			border-radius: 22px;
			color: white;
			background: $rust;
		}
	}
}