
$font-bradensota: "Josefin Sans", sans-serif;

.page-template-bradensota {

    background: #F7F5ED;
    

    p,h1,h2,h2,h4,h5,h6 {

        font-family: $font-bradensota !important;
    }
}

.bradensota-header {

    display: flex;
    background: transparent linear-gradient(180deg, #FFFFFF 70%, #FFFFFF00 100%) 0% 0% no-repeat padding-box;
    position: absolute;
    top: 0;
    z-index: 10;
    width: 100%;
    
    &__logo {

        margin: 0 auto;
        max-width: 500px;
        width: 90%;
        height: auto;
    }
}

.main--bradensota {

    .wp-block-mm-bradentongulfislands-wideslideshow.is-style-hero-slider {

        &::after {

            background: transparent url("images/bradensota-wave-top.svg") no-repeat;
            height: 13rem;
            bottom: 55px;
        }
        &::before {

            height: 0;
        }

        .swiper-pagination {

            
        }
    }

 
    .mm-content-slider {

        .content-slider-controls {

            display: flex;
            justify-content: center;
            max-width: 15rem;
            margin: auto;
        }

        .content-sliderswiper-pagination {
            display: unset !important;
            color:  #F2F0E2;
            font-weight: bold;
            align-self: center;
            text-align: center;
            font-size: 1.5rem;
          }
      
          .content-slider-swiper-button-next,
          .content-slider-swiper-button-prev {
            cursor: pointer;
            position: relative;
            &:before,
            &:after {
              display: none;
            }
          }

          .swiper-button-lock {

            display: unset !important;
        }

        .swiper-wrapper {

            .swiper-slide {

               opacity: 0 !important;
               transition: all 0.2s ease-in-out;

                .wp-block-columns {

                    align-items: stretch !important;

                    .wp-block-column {

                        .wp-block-cover-link {

                            position: relative;

                           
                        }

                        .wp-block-cover {

                            height: 100%;
                            border-radius: 6px;

                            &::before {

                                content: ' ';
                                top: 5%;
                                right: 5%;
                                height: 25px;
                                width: 25px;
                                position: absolute;
                                background: url("images/new-window.png");
                                background-size: contain;
                                z-index: 2;
                            }


                            &__background {

                                background: var(--wp--preset--color--soft-black) !important;
                                opacity: 0.3;
                                border-radius: 6px;
                            }

                            img {
                                border-radius: 6px;
                            }

                            &__inner-container {

                                p {
                                line-height: 1em !important;
                                }
                            }
                        }
                    }
                }
            }

            .swiper-slide-active {

                opacity: 1 !important;
                transition: all 0.2s ease-in-out;
            }

        }
    }
}

.bradensota-footer {

    position: relative;
    padding: 4rem 6vw 1rem 6vw;
    background: url("images/bradensota-footer-image.jpg") center no-repeat;

    &__overlay {

        content: " ";
        z-index: 1;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        opacity: 0.7;
        background: transparent linear-gradient(0deg, #125852 0%, #174E46 100%) 0% 0% no-repeat padding-box;
    }

    &__logos {

        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: center;
        position: relative;
        z-index: 2;
        align-items: center;

        .bradensota-logo {
            flex: 0 0 70%;

        
            &__sarasota, &__bradenton {

                display: flex;
                flex-wrap: wrap;
                align-items: center;
                gap: 2rem;            

                img {

                    width: 200px;
                    height: auto;                
                }
            }

            hr {

                border: 0.1rem white solid;
                margin: 1rem auto;
            }
        }

        .visitflorida-logo {

            align-items: center;
            margin-top: 2rem;

            img {

                width: 300px;
                height: auto;
            }
        }
    }

    &__copyright {

        position: relative;
        z-index: 2;
        text-align: center;
        margin-top: 3rem;

        p {

            color: white;
        }
    }

    .social-container {

        .social-icon {

            text-decoration: none;
            margin: 0 0.2rem;

            svg {

                #Path_91188 {

                    fill: #174E46;
                }
            }
        }
    }
}

#bradensotaMap {

    display: none;
}


@media only screen and (max-width: 768px) {
	
    .wp-block-mm-bradentongulfislands-wideslideshow.is-style-hero-slider {

        &::after {

            background-position: center !important;
            bottom: 0 !important;
            height: 17rem !important;
        }
    }

    .bradensota-footer {

        &__logos {

            .bradensota-logo {

                &__bradenton, &__sarasota {

                    justify-content: center;
                }
            }
        }
    }
}
