.homepage-bg{
    background-image: url('images/hp-background.jpg');
    position: relative;
    background-repeat: repeat-y;
    background-size: 100% auto;

    &::before{
        content: "";
        position: absolute;
        top: -100px;
        left: 0;
        width: 100%;
        height: 200px;
        background: linear-gradient(180deg, rgba(241, 240, 238, 0) 0%, rgb(241, 240, 238) 45%, rgb(241, 240, 238) 50%, rgba(241, 240, 238, 0) 100%);
        pointer-events: none;
    }
}

.share-the-love-bg{
    background-image: url('images/share-the-love-bg.png');
    background-repeat: no-repeat;
    background-size: auto auto;
    margin-top: 150px;
    padding-top: 100px;

    &::after{
        content: "";
        background-image: url('images/turtle.png');
        width: 323px;
        height: 187px;
        display: flex;
        background-size: 100% 100%;
        position: absolute;
        left: calc(50% - 161.5px);
        top: -55px;
    }

    &::before{
        content: "";
        background-image: url('images/ray.png');
        width: 225px;
        height: 131px;
        display: flex;
        background-size: 100% 100%;
        position: absolute;
        left: 10%;
        top: -100px;
    }
}

.rotate-glow{
    text-shadow: 2px 2px 6px #fff;
    transform: rotate(-3deg);
}