.listingMain {
	position: relative;
	margin-top: 120px;
	.listingHeader {
		margin: 2em auto;
		@include main-column;

		.listingTitle {
			font-family: $font-header;
			color: $rust;
			text-transform: uppercase;
			font-weight: normal;
		}

		.accommodations {
			display: flex;
			gap: 10px;
			flex-wrap: wrap;

			.accommodation {
				position: relative;
				color: $bradenton-teal;
				border: 2px solid $bradenton-teal;
				border-radius: 20px;
				padding: 5px 1rem 5px 2.3rem;
				text-transform: uppercase;
				font-size: 0.8rem;
				display: block;

				.icon {
					position: absolute;
					left: -5px;
					top: -3px;
					width: 35px;
					height: 35px;
				}
			}
		}
	}

	.listingInfo {
		position: relative;
		background: color('light-gray');
		margin-bottom: 2rem;
		padding: 2rem 0;
		--webkit-mask: url("images/collage-square-long.svg") no-repeat center;
	    mask: url("images/collage-square-long.svg") no-repeat center;
	    --webkit-mask-size: 100% 100%;
	    mask-size: 100% 100%;
	}

	.listingWrapper {
		@include main-column;
		margin: 1em auto;
		display: flex;

		.listingImg {
			flex: 0 0 40%;
			img {
				max-width: 100%;
				width: auto;
				object-fit: cover;
			}
		}

		.listingImgSwiper {
			width: 400px;
			max-width: 100%;
			height: auto;
			overflow: hidden;
			border-radius: 5px;

			.swiper-slide {
				text-align: center;
			}

			.swiper-button-next, .swiper-button-prev {
                background: $rust;
                width:50px;
                height: 50px;
                opacity: 0.75;
                transition: all 0.3s;

                &:after {
                	color: #fff;
                	font-size: 1.5rem;
                }

                &:hover {
                	opacity: 1;
                }
            }
            .swiper-button-next {
            	right: 0;
            }
            .swiper-button-prev {
            	left: 0;
            }
		}

		.contactInfoWrap {
			// display: flex;
			// align-items: center;
			// justify-content: space-between;
			
			.info {
				p, a {
					color: $rust;
				}
			}

			.website {
				display: inline-block;
				padding: 7px 15px;
				border-radius: 4px;
				color: #fff;
				font-size: 1.2em;
				background: $bradenton-teal;
				text-transform: uppercase;
				transition: all 0.3s;
				margin: 15px 0 10px 0;

				&:hover {
					background: $rust;
				}
			}
		}

		.listingDetails {
			flex: 0 0 60%;
			padding: 0 2em;

			h2 {
				color: $rust;
				font-family: $font-title;
				font-weight: normal;
				font-size: 1.7rem;
				margin-bottom: 0.5rem;
			}

			h3 {
				color: $rust;
				font-family: $font-title;
				margin: 0;
				font-size: 1.5rem;
			}

			.amenities {
				margin: 1rem 0;
				display: inline-block;
				vertical-align: top;
				width: 49%;
				box-sizing: border-box;
				padding-right: 10px;
			}
		}
	}


} // .listingMain

@media screen and (max-width: 920px) {
	.listingMain {

		.listingWrapper {
			display: block;

			.listingDetails {
				padding: 0;
			}
		}

	}
}

