.listingMain {
	position: relative;
	margin-top: 120px;
	.listingInfo {
		margin: 2em auto;
		@include main-column;

		.listingTitle {
			font-family: $font-header;
			color: $rust;
			text-transform: uppercase;
			font-weight: normal;
		}
	}


} // .listingMain

@media screen and (max-width: 768px) {
	.listingMain {

	}
}

