@import "styles/utils/variables";
@import "styles/utils/typography";

.#{$block-prefix}-logo-cta {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0.3rem;
  max-width: 25rem;
  margin: 0 auto;
  background-color: white;
  border-radius: 15px;

  &__image {
    padding: 0 3vw;
    margin-bottom: 1rem;

    img {
      height: 100%;
      width: 100%;
    }
  }

  &__contents {
    width: 100%;

    .contents-title {
      border: none;
      width: 100%;
      background: none;
      padding: 0;

      &:hover {
        transition: all 0.2s ease-in-out;

        a {
          background-color: #b96030;

          &::after {
            transform: translateX(5px);
            transition: all 0.2s ease-in-out;
          }
        }
      }

      a {
        width: 100%;
        display: block;
        color: white;
        text-decoration: none;
        font-weight: 400;
        position: relative;
        background-color: $rust;
        border-radius: 15px;
        border: none;
        padding: 3% 0;
        font-size: 1.4rem;
        text-transform: uppercase;
        font-family: $font-body;
        transition: all 0.3s ease-in-out;

        &::after {
          content: " ";
          background: url("~images/icons/rt-arrow.svg");
          background-size: contain;
          background-repeat: no-repeat;
          height: 20px;
          width: 20px;
          position: absolute;
          transition: all 0.2s ease-in-out;
          background-position: center;
          margin-left: 0.8rem;
          margin-top: 0.35rem;
        }

        &:hover {
          color: white;
        }
      }
    }
  }
}

/*********************
MEDIUM AND LARGE SCREENS
*********************/
@media only screen and (min-width: 769px) {
  .#{$block-prefix}-logo-cta {
  }
}

/*********************
SMALL SCREENS
*********************/
@media only screen and (max-width: 469px) {
  .#{$block-prefix}-logo-cta {
    margin: 0 6vw;

    &__image {
    }

    &__contents {
      .contents-title {
      }
    }

    .wp-block-social-links {
      .wp-social-link {
        svg {
        }
      }
    }
  }
}
