@import "styles/utils/typography";
@import "styles/utils/variables";

$filter-width: 340px;
$bar-height: 70px;

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#ui-datepicker-div {
	background-color: #fff;
	.ui-datepicker-header {
		text-align: center;
		font-size: 0.8em;
		color: #fff;
		background-color: #000;

		.ui-corner-all {
			display: inline-block;
			margin: 0 5px;
		}
	}
	.ui-datepicker-calendar {
		text-align: center;
		a {
			color: $bradenton-teal;
			text-decoration: none;
		}
	}
}

.#{$block-prefix}-listings-grid {
	margin: 4rem 0;

	.grid-body {
		background: linear-gradient(to bottom, #f4eee1, #f5e7cc);
		padding: 1rem;
	}

	.grid-title {
		color: $turquoise;
		font-size: 2.5em;
		text-transform: uppercase;
		text-align: center;
	}

	.filters {
		position: relative;
		z-index: 10;
		.control--search {
			display: flex;
			font-family: $font-header;
			justify-content: space-between;
			align-items: center;
			padding: 20px 1em;
			max-width: 95%;
			width: 1200px;
			margin: 0 auto;
			.control__label {
				text-transform: uppercase;
			}
			.form-icon-overlay {
				display: flex;
			}
			.control__input {
				border: 0;
				padding: 10px;
				border-top-left-radius: 5px;
				border-bottom-left-radius: 5px;
				height: 35px;
			}
			.submit-filter {
				border: 0;
				margin: 0;
				width: 35px;
				height: 35px;
				border-top-right-radius: 5px;
				border-bottom-right-radius: 5px;
				background-color: #000;
				margin-left: -10px;
				img {
					width: 100%;
				}
			}
		}
		.check-controls {
			font-family: $font-header;
			text-transform: uppercase;
			padding-bottom: 2rem;
			.filterWrap {
				display: flex;
				width: 1200px;
				max-width: 95%;
				margin: 0 auto;
			}
			.control--categories {
				padding: 1em;
				padding-bottom: 0;
				flex-grow: 1;
				&.hide {
					display: none;
				}
			}
			.control__title {
				width: 100%;
				margin: 0 0 1em 0;
				position: relative;
				color: $turquoise;
				text-align: center;
			}
			.categoriesWrap {
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				transition: 0.3s ease-out;
				flex: 0 0 30%;
				column-gap: 30px;
				row-gap: 20px;
			}
			.control__label {
				font-size: 0.85em;
				margin: 2px 5px;
				display: flex;
				align-items: center;
				gap: 10px;

				&.control__label--start-date, &.control__label--end-date {
					display: block;
				}
			}

			.show {
				opacity: 1 !important;
				max-height: 50px !important;
				position: unset !important;
				transition: all 0.1s ease-out;
			}

		}

	}

	.date-controls {
		padding: 1em;
		align-self: center;
		.control__input {
			border: 0;
			padding: 7px;
			border-radius: 3px;
		}
	}

	.listings-container {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		width: 1200px;
		max-width: 95%;
		margin: 2em auto;
		justify-content: flex-start;

		&--no-listings {
			min-height: 30rem !important;

			h2 {
				margin: auto;
				align-self: center;
			}
		}
	}

	.loading {
		display: none;
		font-size: 5rem;
		opacity: 0.7;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		border: 16px solid #ffffff; 
		border-top: 16px solid #000;
		border-radius: 50%;
		width: 100px;
		height: 100px;
		animation: spin 2s linear infinite;

		&.show {
			display: block;
		}
	}

	// indv listings
	.listing {
		position: relative;
		margin: 1em 0.5em;
		min-width: 250px;
		flex: 0 0 33%;
		background-color: $light-blue;

		a {
			font-weight: 400;
		}

		.listing__thumb {
			position: relative;
			z-index: 2;
			width: 100%;
			aspect-ratio: 1.1;
			overflow: hidden;
			box-sizing: border-box;
			transition: 0.3s ease-out;
			img {
				position: relative;
				z-index: 1;
				width: 100%;
				height: 100%;
				object-fit: cover;
				transition: 0.3s ease-out;
			}
		}
		.listing__info {
			padding: 0 1rem 1rem;
		}
		.listing__title {
			font-family: $font-body;
			font-size: 1.2rem;
		}
		.listing__description {
			p {
				font-size: 0.9em;
			}
		}
		&:hover {

			.date, .category-tag {
				top: -10px;
			}
			a {
				text-decoration-color: #000;
			}
			.listing__thumb {
				img {
					filter: grayscale(0%);
					transform: scale(1.1);
				}
			}
		}

		&--listing {

			.listing__title {
				color: $bradenton-teal;
			}

			&:hover {
				a {
					text-decoration-color: $bradenton-teal;
				}
			}
		}

		&--month {
			flex: 100% !important;
			position: relative;
			margin: 1rem auto;
			margin-left: -10%;
			padding-left: 10%;
			font-weight: 500;
			color: #000;
			text-transform: capitalize;

			&::before {
				content: "";
				position: absolute;
				top: 1px;
				left: 0;
				width: 40%;
				min-width: 400px;
				height: 1.5px;
				background-color: #000;
			}
		}
	}

	// date tag
	.date {
		position: absolute;
		left: 40px;
		top: -5px;
		background: $bradenton-teal;
		z-index: 10;
		padding: 10px 15px;
		color: #fff;
		transition: 0.3s ease;
		text-align: center;
		.date__month {
			font-size: 0.8em;
			font-weight: 300;
			font-family: $font-header;
			text-transform: uppercase;
			display: block;
			border-bottom: 1px solid #fff;
		}
		.date__day {
			display: block;
			font-size: 2.5em;
		}

	}

	//cateogry
	.category-tag {
		position: absolute;
		left: 40px;
		top: -5px;
		background: #000;
		z-index: 10;
		padding: 15px;
		color: #fff;
		transition: 0.3s ease;
		text-align: center;
	}

	// pagination
	.pagination {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-left: auto;

		button:disabled {

			color: rgb(51,51,51, 0.4);
		}

		.pagination__button {
			padding: 5px 10px;
			background: transparent;
			color:#666; 
			font-weight: normal;
			border: 0;
			font-size: 1.5em;
			cursor: pointer;
			transition: 0.3s ease-out;
			&:hover {
				color: $bradenton-teal;
			}
		}
		.counts,
		.pagination__loading {
			margin: 0 12px;
		}
		.pagination__loading,
		.counts {
			display: none;
			font-weight: normal;
			&.show {
				display: block;
				border-color: transparent;
				border-style: solid;
				position: relative;
				line-height: 0;
			}
		}
	}

}

/*********************
MEDIUM AND LARGE SCREENS
*********************/
@media only screen and (min-width: 981px) {
	.#{$block-prefix}-listings-grid {
		.listings-container {
			min-height: 40rem;
		}

		// indv listings
		.listing {
			flex: 0 0 22%;

			&--event {

			}
		}

	
	}

}

/*********************
MEDIUM SCREENS
*********************/
@media only screen and (min-width: (701px)) and (max-width: 981px) {
	.#{$block-prefix}-listings-grid {
	
		// indv listings
		.listing {

			&--month {

				padding-left: 15%;
			}
		}
	
}
}

/*********************
SMALL SCREENS
*********************/
@media only screen and (max-width: 700px) {
	.#{$block-prefix}-listings-grid {

		.filters {

			.check-controls {
				flex-wrap: wrap;

				.control__label {
					margin: 0;
					font-size: 0.75em;
				}
			}
		}
		margin: 2rem 0;
		// indv listings
		.listing {
			flex: 0 0 48%;
			min-width: 200px;
			border-bottom: 1px solid rgba(#000, 0.15);

			&--month {

				padding-left: 20%;

				&::before {

					width: 70%;
				}
			}
		}

		.grid-title {

			font-size: 2em;
			margin: 0 0 -13px 1em;
		}

	//cateogry
	.category-tag {

		font-size: 0.65rem;
		left: 32px;
		padding: 10px;

		&:after {
		    
			bottom: -6px;
		}
	}
	}
}


/*********************
EXTRA SMALL SCREENS
*********************/
@media only screen and (max-width: 444px) {
	.#{$block-prefix}-listings-grid {

		.listings-container {

			justify-content: center;
		}

		.listing {
			// flex: 0 0 90%;

			&__thumb {

				height: 250px;
			}
		}

		//cateogry
		.category-tag {

		font-size: 1rem;
		left:40px;
		padding: 15px;

			&:after {
				
				bottom: -10px;
			}
		}
	}
}

