/******************************************************************
Stylesheet: Variables

Here is where we declare all our variables like colors, fonts,
base values, and defaults. We want to make sure this file ONLY
contains variables that way our files don't get all messy.
No one likes a mess.

******************************************************************/

$theme-prefix: 'mmmadre';
$block-prefix: 'wp-block-' + $theme-prefix;

// LAYOUT
$admin-bar-height-desktop: 32px;
$admin-bar-height-mobile: 46px;
$header-height-desktop: 6rem;
$header-height-mobile: 3rem;
$main-column-width: 90%;
$main-column-max-width: 60rem;
$block-margin: 4rem;

// DEFAULT BREAKPOINT SIZES
$screen-sm: 768px;
$screen-md: 980px;
$screen-lg: 1100px;

// COLORS
@function color($name) {
    @return var(--wp--preset--color--#{$name});
}
