@import 'styles/utils/variables';

.#{$block-prefix}-example-static {
  margin: 0 auto;
}

/*********************
MEDIUM AND LARGE SCREENS
*********************/
@media only screen and (min-width: 769px) {
  .#{$block-prefix}-example-static {
    width: 80%;
  }
}

/*********************
SMALL SCREENS
*********************/
@media only screen and (max-width: 768px) {
  .#{$block-prefix}-example-static {
    width: 100%;
  }
}
