// Styles for both the Editor and the front end.
.#{$block-prefix}-mega-menu {
  &__toggle {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    background-color: initial;
    border: none;
    color: currentColor;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    line-height: inherit;
    padding: 0;
    text-align: left;
    text-transform: inherit;

    &[aria-expanded="true"] {
      .#{$block-prefix}-mega-menu__toggle-icon {
        svg {
          transform: rotate(0deg);
        }
      }

      & ~ .#{$block-prefix}-mega-menu__menu-container {
        opacity: 1;
        overflow: visible;
        visibility: visible;
      }
    }
  }
}
